@import "../web.css";

.container{
  margin: 0px auto;
  padding: 0;
  max-width: 1107px;
  box-sizing: border-box;
  position: relative;
}

.page_footer {
  position: relative;
  bottom: 24px;
}