<div class="page_wrapper">
  <aside class="sidebar" id="configSidebar">
    <nav class="submenu">
      <ul>
        <li class="menu_item" data-title="Device Settings">
          <a href="device_settings" class="selected">
            <i class="fa fa-cog"></i>
            <span class="translate" data-key="device_settings">Device Settings</span>
          </a>
        </li>
        <li class="menu_item" data-title="Network Settings">
          <a href="network_settings">
            <i class="fa fa-wrench"></i>
            <span class="translate" data-key="network_settings">Network Settings</span>
          </a>
        </li>
        <li class="menu_item" data-title="Access">
          <a href="access">
            <i class="fa fa-key"></i>
            <span class="translate" data-key="access">Access</span>
          </a>
        </li>
        <li class="menu_item" data-title="Email">
          <a href="email">
            <i class="fa fa-envelope-o"></i>
            <span class="translate" data-key="email">Email</span>
          </a>
        </li>
        <li class="menu_item" data-title="SNMP">
          <a href="snmp">
            <i class="fa fa-wifi"></i>
            <span class="translate" data-key="snmp">SNMP</span>
          </a>
        </li>
        <li class="menu_item" data-title="Time">
          <a href="time">
            <i class="fa fa-clock-o"></i>
            <span class="translate" data-key="time">Time</span>
          </a>
        </li>
      </ul>
    </nav>
  </aside>

  <div class="subpages">
    <!-- DEVICE SETTINGS -->
    <div id="device_settings" class="subpage active">
      <form action="deviceSettings">
        <div class="tab_box">
          <div class="box_header"><h3 class="translate" data-key="device_settings">Device settings</h3></div>
          <div class="input_wrapper">
            <label>Device name: </label>
            <input type="text" name="devicename" id="devicename" value="">
            <span class="desc">0 to 16 characters</span>
          </div>
          <div class="input_wrapper" data-type="select">
            <label>Temperature unit: </label>
            <select name="temperatureunit" id="temperatureunit">
              <option selected="selected" value="1">Celsius</option>
              <option value="2">Fahrenheit</option>
              <option value="3">Kelvin</option>
            </select>
            <span class="desc">Celsius/Fahrenheit/Kelvin</span>
          </div>
          <div class="input_wrapper" data-type="select">
            <label>Periodic restart: </label>
            <select name="periodrestart" id="periodrestart">
              <option selected="selected" value="">Off</option>
              <option value="1">1 Hour</option>
              <option value="24">1 Day</option>
              <option value="48">2 Days</option>
              <option value="168">7 Days</option>
              <option value="336">14 Days</option>
              <option value="672">28 Days</option>
            </select>
            <span class="desc">Periodic restart time</span>
          </div>
          <div class="input_wrapper" data-type="input">
            <label>Web refresh [s]: </label>
            <input type="number" name="webrefresh" id="webrefresh" value="1">
            <span class="desc">Automatic refresh period of the main web page.</span>
          </div>
        </div>

        <div class="tab_box fullwidth bordered">
          <div class="button_line">
            <button value="save"><i class="fa fa-floppy-o"></i><span class="translate" data-key="save">Save</span></button>
          </div>
        </div>
      </form>
      <div class="tab_box fullwidth">
        <div class="box_header"><h3 class="translate" data-key="device_settings_info">Device Settings Information</h3></div>
        <div class="translate" data-key="device_settings_info_content">
          <p>Lorem ipsum dolor sit amet, sea in graeco tibique, quodsi perfecto cotidieque sit an. Pri ei vocibus atomorum, postea impedit te ius. Ne sint falli fabulas his, qui ex saepe fierent complectitur. Invidunt qualisque at est, sit cu ipsum ignota voluptatibus.</p>
          <p>Assum epicurei assentior ut sed, vide accumsan vel an, errem tantas nemore est te. Has ex ludus nullam, velit dolorum ea vis, an sit exerci noster. Posse clita solet vix te. Hinc rebum ea per, eu odio semper argumentum per. At persecuti constituto eos. Amet nulla qui in.</p>
        </div>
      </div>
    </div>

    <!-- NETWORK SETTINGS -->
    <div id="network_settings" class="subpage">
      <form action="networkSettings">
        <div class="tab_box">
          <div class="box_header"><h3 class="translate" data-key="network_settings">Network settings</h3></div>
          <div class="input_wrapper" data-type="toggle">
            <label>DHCP: </label>
            <span class="input_toggle dns_dhcp"> 
              <span class="on_label">ON</span><i class="diode on"></i><span class="off_label">OFF</span>
              <input type="hidden" name="dhcp" id="dhcp" value="0">
            </span>
          </div>
          <div class="input_wrapper">
            <label>IP Address: </label>
            <input type="text" name="ipaddress" id="ipaddress" value="">
            <span class="desc">A.B.C.D</span>
          </div>
          <div class="input_wrapper">
            <label>Network Mask: </label>
            <input type="text" name="networkmask" id="networkmask" value="">
            <span class="desc">A.B.C.D</span>
          </div>
          <div class="input_wrapper">
            <label>Gateway: </label>
            <input type="text" name="gateway" id="gateway" value="">
            <span class="desc">A.B.C.D</span>
          </div>
          <div class="input_wrapper">
            <label>DNS Primary: </label>
            <input type="text" name="dnsprimary" id="dnsprimary" value="">
            <span class="desc">A.B.C.D</span>
          </div>
          <div class="input_wrapper">
            <label>DNS Secondary: </label>
            <input type="text" name="dnssecondary" id="dnssecondary" value="">
            <span class="desc">A.B.C.D</span>
          </div>
          <div class="input_wrapper">
            <label>HTTP port: </label>
            <input type="number" name="httpport" id="httpport" value="80">
            <span class="desc">Default port 80</span>
          </div>
        </div>
        <div class="tab_box fullwidth bordered">
          <div class="button_line">
            <button value="save"><i class="fa fa-floppy-o"></i><span class="translate" data-key="save">Save</span></button>
          </div>
        </div>
      </form>
      <div class="tab_box fullwidth">
        <div class="box_header"><h3 class="translate" data-key="network_settings_info">Network Settings Information</h3></div>
        <div class="translate" data-key="network_settings_info_content">
          <p>Lorem ipsum dolor sit amet, sea in graeco tibique, quodsi perfecto cotidieque sit an. Pri ei vocibus atomorum, postea impedit te ius. Ne sint falli fabulas his, qui ex saepe fierent complectitur. Invidunt qualisque at est, sit cu ipsum ignota voluptatibus.</p>
          <p>Assum epicurei assentior ut sed, vide accumsan vel an, errem tantas nemore est te. Has ex ludus nullam, velit dolorum ea vis, an sit exerci noster. Posse clita solet vix te. Hinc rebum ea per, eu odio semper argumentum per. At persecuti constituto eos. Amet nulla qui in.</p>
        </div>
      </div>
    </div>

    <!-- ACCESS -->
    <div id="access" class="subpage">
      <form action="access">
        <div class="tab_box">
          <div class="box_header"><h3>Security</h3></div>
          <div class="input_wrapper">
            <label>Username: </label>
            <input type="text" name="username" id="username" value="">
            <span class="desc">Admin username for device configuration changes [0 to 16 characters]</span>
          </div>
          <div class="input_wrapper">
            <label>Password: </label>
            <input type="password" name="password" id="password" value="">
            <span class="desc">Admin password for device configuration changes [0 to 16 characters]</span>
          </div>

          <!--
          <div class="box_header"><h3>Theme</h3></div>
          <div class="input_wrapper">
            <label>Select theme: </label>
            <select id="theme_changer">
              <option value="">Default</option>
              <option value="dark_red.css" data-value="">Dark Red</option>
              <option value="dark_red/dark_blue.css" data-value="sub">Dark Red / Dark Blue</option>
              <option value="dark_red/dark_green.css" data-value="sub">Dark Red / Dark Green</option>
              <option value="dark_red/dark_grey.css" data-value="sub">Dark Red / Dark Grey</option>
              <option value="dark_red/light_bronze_carbonfiber_2.css" data-value="sub">Dark Red / Light Bronze Carbonfiber 2</option>
              <option value="dark_red/light_grey_carbonfiber.css" data-value="sub">Dark Red / Light Grey Carbonfiber</option>
              <option value="dark_red/light_grey_carbonfiber_2.css" data-value="sub">Dark Red / Light Grey Carbonfiber 2</option>
              <option value="web.css" data-value="">Web</option>
              <option value="web/centered.css" data-value="sub">Web / Centered</option>
            </select>
          </div>
          -->

          <div class="box_header"><h3>Firmware</h3></div>
          <div class="input_wrapper">
            <label>Upload binary: </label>
            <input type="file" id="firmware" name="firmware">
          </div>
        </div>

        <div class="tab_box fullwidth bordered">
          <div class="button_line">
            <button value="save"><i class="fa fa-floppy-o"></i><span class="translate" data-key="save">Save</span></button>
          </div>
        </div>
      </form>
      <div class="tab_box fullwidth">
        <div class="box_header"><h3 class="translate" data-key="access_info">Access Information</h3></div>
        <div class="translate" data-key="access_info_content">
          <p>Lorem ipsum dolor sit amet, sea in graeco tibique, quodsi perfecto cotidieque sit an. Pri ei vocibus atomorum, postea impedit te ius. Ne sint falli fabulas his, qui ex saepe fierent complectitur. Invidunt qualisque at est, sit cu ipsum ignota voluptatibus.</p>
          <p>Assum epicurei assentior ut sed, vide accumsan vel an, errem tantas nemore est te. Has ex ludus nullam, velit dolorum ea vis, an sit exerci noster. Posse clita solet vix te. Hinc rebum ea per, eu odio semper argumentum per. At persecuti constituto eos. Amet nulla qui in.</p>
        </div>
      </div>
    </div>

    <!-- EMAIL -->
    <div id="email" class="subpage">
      <form action="email">
        <div class="tab_box">
          <div class="box_header"><h3>Email settings</h3></div>
          <div class="input_wrapper" data-type="input">
            <label>SMTP server: </label>
            <input type="text" name="smtpServer" class="smtpServer" id="smtpServer" value="">
            <span class="desc">IP Address or DNS Name</span>
          </div>
          <div class="input_wrapper" data-type="input">
            <label>SMTP Port: </label>
            <input type="number" name="smtpPort" class="smtpPort" id="smtpPort" value="25">
            <span class="desc">Default 25</span>
          </div>
          <div class="input_wrapper" data-type="toggle">
            <label>Authentication: </label>
            <span class="input_toggle" id="smtpauth_toggle" data-target="auth_fields"> 
              <span class="on_label">ON</span><i class="diode on"></i><span class="off_label">OFF</span>
              <input type="hidden" class="authentication" name="authentication" value="0" id="authentication">
            </span>
            <span class="desc">Enable/Disable</span>
          </div>
          <div class="auth_fields subset_fields" id="auth_fields">
            <div class="input_wrapper" data-type="input">
              <label>Username: </label>
              <input type="text" name="username" class="username" id="username" value="">
              <span class="desc">0 to 32 characters</span>
            </div>
            <div class="input_wrapper" data-type="input">
              <label>Password: </label>
              <input type="password" name="password" class="password" id="password" value="">
              <span class="desc">0 to 32 characters</span>
            </div>
          </div>
          <div class="input_wrapper" data-type="toggle">
            <label>SSL </label>
            <span class="input_toggle" id="ssl_toggle" data-target="ssl_fields"> 
              <span class="on_label">ON</span><i class="diode on"></i><span class="off_label">OFF</span>
              <input type="hidden" class="ssl" name="ssl" value="0" id="ssl">
            </span>
            <span class="desc">Enable/Disable</span>
          </div>
          <div class="ssl_fields subset_fields" id="ssl_fields">
            <div class="input_wrapper" data-type="toggle">
              <label>TLS/STARTTLS </label>
              <span class="input_toggle" id="tls_toggle"> 
                <span class="on_label">ON</span><i class="diode on"></i><span class="off_label">OFF</span>
                <input type="hidden" class="tls" name="tls" value="0" id="tls">
              </span>
              <span class="desc">Enable/Disable</span>
            </div>
          </div>
        </div>

        <div class="tab_box">
          <div class="box_header"><h3 class="translate" data-key="email_content">Email content</h3></div>
          <div class="input_wrapper" data-type="select">
            <label>Importance: </label>
            <select class="input_select" name="importance" id="importance">
              <option value="0">Normal</option>
              <option value="1">High</option>
              <option value="2">Low</option>
            </select>
            <span class="desc">Email importance flag</span>
          </div>
          <div class="input_wrapper" data-type="input">
            <label>From: </label>
            <input type="text" name="from" class="from" id="from" value="">
            <span class="desc">Device email address</span>
          </div>
          <div class="input_wrapper" data-type="input">
            <label>Subject: </label>
            <input type="text" name="subject" class="subject" id="subject" value="">
            <span class="desc">Email subject line</span>
          </div>
          <div class="input_wrapper" data-type="textarea">
            <label>To: </label>
            <textarea name="to" class="to" id="to"></textarea>
            <span class="desc">Email Recipients, separated by comma</span>
          </div>
          <div class="input_wrapper" data-type="input">
            <label>CC: </label>
            <input type="text" name="cc" class="cc" id="cc" value="">
            <span class="desc">Email Copy</span>
          </div>
        </div>

        <div class="tab_box fullwidth bordered">
          <div class="button_line">
            <button value="save"><i class="fa fa-floppy-o"></i>Save</button>
            <button value="test"><i class="fa fa-envelope-o"></i>Send test</button>
          </div>
        </div>

        <div class="tab_box fullwidth">
          <div class="box_header"><h3 class="translate" data-key="send_test_email">Send Test Email</h3></div>
          <p class="translate" data-key="send_test_email_message">Click on the button to send the test email using the specified settings</p>
        </div>
        <div class="tab_box fullwidth">
          <div class="box_header"><h3 class="translate" data-key="email_info">Email Information</h3></div>
          <div  class="translate" data-key="email_info_content">
            <p>Lorem ipsum dolor sit amet, sea in graeco tibique, quodsi perfecto cotidieque sit an. Pri ei vocibus atomorum, postea impedit te ius. Ne sint falli fabulas his, qui ex saepe fierent complectitur. Invidunt qualisque at est, sit cu ipsum ignota voluptatibus.</p>
            <p>Assum epicurei assentior ut sed, vide accumsan vel an, errem tantas nemore est te. Has ex ludus nullam, velit dolorum ea vis, an sit exerci noster. Posse clita solet vix te. Hinc rebum ea per, eu odio semper argumentum per. At persecuti constituto eos. Amet nulla qui in.</p>
          </div>
        </div>

      </form>
    </div>

    <!-- SNMP -->
    <div id="snmp" class="subpage">
      <form action="snmp">
        <div class="tab_box">
          <div class="box_header"><h3>General SNMP settings</h3></div>
          <div class="input_wrapper" data-type="input">
            <label>System name: </label>
            <input type="text" name="name" id="name" value="">
            <span class="desc">0 to 16 characters</span>
          </div>
          <div class="input_wrapper">
            <label>System location: </label>
            <input type="text" name="location" id="location" value="">
            <span class="desc">0 to 16 characters</span>
          </div>
          <div class="input_wrapper">
            <label>System contact: </label>
            <textarea name="contact" id="contact"></textarea>
          </div>
          <div class="input_wrapper">
            <label>System port: </label>
            <input type="number" name="port" id="port" value="">
            <span class="desc">Default port 161</span>
          </div>
        </div>

        <div class="tab_box">
          <div class="box_header"><h3>SNTP Access</h3></div>
          <table cellspacing="0">
            <thead>
              <tr>
                <th>Community</th>
                <th align="center">Read</th>
                <th align="center">Write</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="padding-left: 0;"><input type="text" name="apublic" id="apublic" value="public"></td>
                <td align="center" class="input_wrapper clear" data-type="checkbox"><input type="checkbox" id="apublicread" name="apublicread"></td>
                <td align="center" class="input_wrapper clear" data-type="checkbox"><input type="checkbox" id="apublicwrite" name="apublicwrite"></td>
              </tr>
              <tr>
                <td style="padding-left: 0;"><input type="text" name="aprivate" id="aprivate" value="private"></td>
                <td align="center" class="input_wrapper clear" data-type="checkbox"><input type="checkbox" id="aprivateread" name="aprivateread"></td>
                <td align="center" class="input_wrapper clear" data-type="checkbox"><input type="checkbox" id="aprivatewrite" name="aprivatewrite"></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="tab_box fullwidth bordered">
          <div class="button_line">
            <button value="save"><i class="fa fa-floppy-o"></i>Save</button>
          </div>
        </div>

        <div class="tab_box">
          <div class="box_header"><h3>SNMP Information</h3></div>
          <h2>Info</h2>
          <p>Lorem ipsum dolor sit amet, sea in graeco tibique, quodsi perfecto cotidieque sit an. Pri ei vocibus atomorum, postea impedit te ius. Ne sint falli fabulas his, qui ex saepe fierent complectitur. Invidunt qualisque at est, sit cu ipsum ignota voluptatibus.</p>
          <p>Assum epicurei assentior ut sed, vide accumsan vel an, errem tantas nemore est te. Has ex ludus nullam, velit dolorum ea vis, an sit exerci noster. Posse clita solet vix te. Hinc rebum ea per, eu odio semper argumentum per. At persecuti constituto eos. Amet nulla qui in.</p>
        </div>
      </form>
    </div>

    <!-- TIME -->
    <div id="time" class="subpage">
      <form action="time">
        <div class="tab_box">
          <div class="box_header"><h3>SNTP Setup</h3></div>
          <div class="input_wrapper" data-type="input">
            <label>SNTP Server: </label>
            <input type="text" name="server" class="server" id="server" value="">
            <span class="desc">IP Address or DNS Name</span>
          </div>
          <div class="input_wrapper" data-type="select">
            <label>Time Zone: </label>
            <select class="input_select timezone" name="timezone" id="timezone">
              <option value="">- choose time zone -</option>
              <option value="-12.0">(GMT -12:00) Eniwetok, Kwajalein</option>
              <option value="-11.0">(GMT -11:00) Midway Island, Samoa</option>
              <option value="-10.0">(GMT -10:00) Hawaii</option>
              <option value="-9.0">(GMT -9:00) Alaska</option>
              <option value="-8.0">(GMT -8:00) Pacific Time (US &amp; Canada)</option>
              <option value="-7.0">(GMT -7:00) Mountain Time (US &amp; Canada)</option>
              <option value="-6.0">(GMT -6:00) Central Time (US &amp; Canada), Mexico City</option>
              <option value="-5.0">(GMT -5:00) Eastern Time (US &amp; Canada), Bogota, Lima</option>
              <option value="-4.0">(GMT -4:00) Atlantic Time (Canada), Caracas, La Paz</option>
              <option value="-3.5">(GMT -3:30) Newfoundland</option>
              <option value="-3.0">(GMT -3:00) Brazil, Buenos Aires, Georgetown</option>
              <option value="-2.0">(GMT -2:00) Mid-Atlantic</option>
              <option value="-1.0">(GMT -1:00 hour) Azores, Cape Verde Islands</option>
              <option value="0.0">(GMT) Western Europe Time, London, Lisbon, Casablanca</option>
              <option value="1.0">(GMT +1:00 hour) Brussels, Copenhagen, Madrid, Paris</option>
              <option value="2.0">(GMT +2:00) Kaliningrad, South Africa</option>
              <option value="3.0">(GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg</option>
              <option value="3.5">(GMT +3:30) Tehran</option>
              <option value="4.0">(GMT +4:00) Abu Dhabi, Muscat, Baku, Tbilisi</option>
              <option value="4.5">(GMT +4:30) Kabul</option>
              <option value="5.0">(GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent</option>
              <option value="5.5">(GMT +5:30) Bombay, Calcutta, Madras, New Delhi</option>
              <option value="5.75">(GMT +5:45) Kathmandu</option>
              <option value="6.0">(GMT +6:00) Almaty, Dhaka, Colombo</option>
              <option value="7.0">(GMT +7:00) Bangkok, Hanoi, Jakarta</option>
              <option value="8.0">(GMT +8:00) Beijing, Perth, Singapore, Hong Kong</option>
              <option value="9.0">(GMT +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk</option>
              <option value="9.5">(GMT +9:30) Adelaide, Darwin</option>
              <option value="10.0">(GMT +10:00) Eastern Australia, Guam, Vladivostok</option>
              <option value="11.0">(GMT +11:00) Magadan, Solomon Islands, New Caledonia</option>
              <option value="12.0">(GMT +12:00) Auckland, Wellington, Fiji, Kamchatka</option>
            </select>
          </div>

          <div class="input_wrapper" data-type="select">
            <label>Interval: </label>
            <select class="input_select interval" name="interval" id="interval">
              <option value="">- choose interval -</option>
              <option value="0">1h</option>
              <option value="1">2h</option>
            </select>
            <span class="desc">Sync period: Off/1h/24h</span>
          </div>

          <div class="input_wrapper" data-type="toggle">
            <label>Summertime: </label>
            <span class="input_toggle"> 
              <span class="on_label">ON</span><i class="diode on"></i><span class="off_label">OFF</span>
              <input type="hidden" class="summertime" name="summertime" id="summertime" value="0">
            </span>
            <span class="desc">last Sun Mar 2:00 - last Sun Oct 2:00</span>
          </div>

          <div class="box_header"><h3>Time Configuration</h3></div>
          <div class="input_wrapper" data-type="input">
            <label>Date &amp; Time: </label>
            <input type="text" name="datetime" class="datetime hasDatepicker" value="" id="datetime">
            <span class="desc">Click to select date and time</span>
          </div>
        </div>

        <div class="tab_box fullwidth bordered">
          <div class="button_line">
            <button value="save"><i class="fa fa-floppy-o"></i><span class="translate" data-key="save">Save</span></button>
            <button value="sync"><i class="fa fa-clock-o"></i><span class="translate" data-key="synchronize">Synchronize</span></button>
          </div>
        </div>
      </form>

      <div class="tab_box fullwidth">
        <div class="box_header"><h3>SNTP Synchronize</h3></div>
        <p>Lorem ipsum dolor sit amet, sea in graeco tibique, quodsi perfecto cotidieque sit an. Pri ei vocibus atomorum, postea impedit te ius. Ne sint falli fabulas his, qui ex saepe fierent complectitur. Invidunt qualisque at est, sit cu ipsum ignota voluptatibus.</p>
        <p>Assum epicurei assentior ut sed, vide accumsan vel an, errem tantas nemore est te. Has ex ludus nullam, velit dolorum ea vis, an sit exerci noster. Posse clita solet vix te. Hinc rebum ea per, eu odio semper argumentum per. At persecuti constituto eos. Amet nulla qui in.</p>
      </div>

      <div class="tab_box fullwidth">
        <div class="box_header"><h3 class="translate" data-key="time_info">Time Information</h3></div>
        <h2 class="translate" data-key="faq">FAQ</h2>
        <div class="translate" data-key="faq_content">
          <p>Lorem ipsum dolor sit amet, sea in graeco tibique, quodsi perfecto cotidieque sit an. Pri ei vocibus atomorum, postea impedit te ius. Ne sint falli fabulas his, qui ex saepe fierent complectitur. Invidunt qualisque at est, sit cu ipsum ignota voluptatibus.</p>
          <p>Assum epicurei assentior ut sed, vide accumsan vel an, errem tantas nemore est te. Has ex ludus nullam, velit dolorum ea vis, an sit exerci noster. Posse clita solet vix te. Hinc rebum ea per, eu odio semper argumentum per. At persecuti constituto eos. Amet nulla qui in.</p>
        </div>
      </div>
    </div>

  </div>
</div>