<div class="page_wrapper">
  <div class="tab_box">
    <div class="box_header"><h3 class="translate" data-key="sensor-conf-matrix">Sensor Configuration Matrix</h3></div>
    <form>
      <div class="io_table" id="ioMatrix">
        <div class="thead">
          <div class="trow">
            <div class="th"></div>
            <div class="th t_email">E-MAIL</div>
            <div class="th t_snmp">SNMP</div>
          </div>
        </div>
        <div class="tgroup temperature">
          <div class="trow caption">
            <div class="th allspan t_temperature">temperature</div>
            <div class="th"></div>
            <div class="th"></div>
          </div>
          <div class="trow entry">
            <div class="th" data-target="status">temperature sensor-0</div>
            <div class="td conn_email" data-target="email"><i class="conn"></i></div>
            <div class="td conn_snmp" data-target="snmp"><i class="conn"></i></div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="tab_box">
    <div class="box_header"><h3>IO Connection Matrix Information</h3></div>
    <h2>FAQ</h2>
    <p>Lorem ipsum dolor sit amet, sea in graeco tibique, quodsi perfecto cotidieque sit an. Pri ei vocibus atomorum, postea impedit te ius. Ne sint falli fabulas his, qui ex saepe fierent complectitur. Invidunt qualisque at est, sit cu ipsum ignota voluptatibus.</p>
    <p>Assum epicurei assentior ut sed, vide accumsan vel an, errem tantas nemore est te. Has ex ludus nullam, velit dolorum ea vis, an sit exerci noster. Posse clita solet vix te. Hinc rebum ea per, eu odio semper argumentum per. At persecuti constituto eos. Amet nulla qui in.</p>
  </div>

  <div class="tab_box fullwidth">
    <div class="button_line">
      <button value="save" class="savesensors"><i class="fa fa-floppy-o"></i>Save sensors</button>
    </div>
  </div>
</div>