<div class="page_wrapper">

  <section class="tab_box fullwidth">
    <div class="box_header"><h3>Log Information</h3></div>
    <h2>Log</h2>
    <p>Lorem ipsum dolor sit amet, sea in graeco tibique, quodsi perfecto cotidieque sit an. Pri ei vocibus atomorum, postea impedit te ius. Ne sint falli fabulas his, qui ex saepe fierent complectitur. Invidunt qualisque at est, sit cu ipsum ignota voluptatibus.</p>
    <p>Assum epicurei assentior ut sed, vide accumsan vel an, errem tantas nemore est te. Has ex ludus nullam, velit dolorum ea vis, an sit exerci noster. Posse clita solet vix te. Hinc rebum ea per, eu odio semper argumentum per. At persecuti constituto eos. Amet nulla qui in.</p>
  </section>

  <section class="tab_box fullwidth">
    <div id="ui_logger" class="log_content">
    </div>
  </section>
  
</div>