<div class="page_wrapper">

  <aside class="sidebar">
    <nav class="submenu">
      <ul>
        <li class="menu_item"><a class="selected" href="type_temperature"><i class="fa fa-thermometer"></i><span>temperature</span></a></li>
        <li class="menu_item"><a href="type_humidity"><i class="fa fa-tint"></i><span>humidity</span></a></li>
        <li class="menu_item"><a href="type_relay"><i class="fa fa-microchip"></i><span>relay</span></a></li>
      </ul>
    </nav>
    <!--<div class="toggler"></div>-->
    <div class="button_bar">
      <button id="savesensors" class="savesensors"><i class="fa fa-floppy-o"></i>save</button>
      <button id="simulate" class="simulate"><i class="fa fa-space-shuttle"></i>simulate</button>
    </div>
  </aside>

  <div class="subpages">

    <div class="toolbars">
      <div class="toolbar action_toolbar" style="display: none;">
        <h3 class="translate" data-key="filter_sensors">Filter Sensors</h3>
        <button class="action_button action_filter_on"><span class="translate" data-key="on">ON</span></button>
        <button class="action_button action_filter_off"><span class="translate" data-key="off">OFF</span></button>
      </div>
      <div class="toolbar overview_toolbar">
        <h3>Switch View</h3>
        <button class="overview_button overview_blocks active"><i class="fa fa-th-large" aria-hidden="true"></i></button>
        <button class="overview_button overview_list"><i class="fa fa-bars" aria-hidden="true"></i></button>
      </div>
    </div>

    <!-- PORT TEMPLATE -->
    <div class="port">
      <div class="port_heading">
        <h3 class="port_name">Port Name</h3>
      </div>
      <div class="port_data">
        <div class="sensor">
          <div class="name"></div>
          <div class="value_graph">
            <div class="value_unit">
              <label class="caption translate" id="latest_value">latest value</label>
              <span class="vu_wrapper">
                <span class="value"></span>
                <span class="unit"></span>
              </span>
            </div>
            <div class="graph">
              <div class="axis x_vals">
                <b></b>
              </div>
              <div class="axis y_vals">
                <b>0</b>
              </div>
              <div class="graph_panel"></div>
            </div>
          </div>
        </div>
      </div>
    </div> 

    <div class="sensors_wrapper">  
      <div id="type_" class="subpage sensors_type active" data-title="">

        <div class="tab_box sensor hidden" id="sensor-0">
          <div class="box_header">
            <h3><i class=""></i><span>Sensor 0</span></h3>
          </div>
          <div class="box_content">
            <form>
              <div class="input_wrapper">
                <label>Name: </label>
                <input type="text" name="name" class="name" value="">
              </div>
              <div class="input_wrapper">
                <label>Hysteresis: </label>
                <input type="number" class="hysteresis" name="hysteresis" value="0" step="0.1">
              </div>
              <div class="input_wrapper">
                <label>Min: </label>
                <input type="number" class="min" name="min" value="0" step="0.1">
              </div>
              <div class="input_wrapper">
                <label>Max: </label>
                <input type="number" class="max" name="max" value="0" step="0.1">
              </div>
              <div class="input_wrapper input_wrapper_50">
                <label>Email: </label>
                <span class="input_toggle email_toggle"> 
                  <span class="on_label">ON</span><i class="diode on"></i><span class="off_label">OFF</span>
                  <input type="hidden" class="email" name="email" value="false">
                </span>
              </div>
              <div class="input_wrapper input_wrapper_50">
                <label>SNMP: </label>
                <span class="input_toggle snmp_toggle"> 
                  <span class="on_label">ON</span><i class="diode on"></i><span class="off_label">OFF</span>
                  <input type="hidden" class="snmp" name="snmp" value="false">
                </span>
              </div>
              <div class="input_wrapper">
                <label>Status: </label>
                <span class="input_toggle status_toggle"> 
                  <span class="on_label">ON</span><i class="diode on"></i><span class="off_label">OFF</span>
                  <input type="hidden" class="status" name="status" value="false">
                </span>
              </div>
            </form>
            <div class="graph">
              <div class="axis x_vals">
                <b></b>
              </div>
              <div class="axis y_vals">
                <b>0</b>
              </div>
              <div class="graph_panel"></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>