html, body {
  background-color: #444;
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  font-family: Arial; 
  min-width: 350px;
}

*:focus{
  outline: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently not supported by any browser */
}

a{
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.backLogoWrapper {
  position: relative;
}

.backLogo {
  font-family: 'PT Sans Narrow', sans-serif;
  text-align: center;
  font-size: 32px;
  /* color: rgba(0,0,0,1); */
  text-transform: uppercase;
  font-weight: 100;
  opacity: 0.15;
  text-shadow: 0px 1px 3px rgba(255,0,0,0.70);
  letter-spacing: 1px;
  text-shadow: -1px -1px 1px rgba(0,0,0,0.2), 1px 1px 1px rgba(255,255,255,0.2);
  /*position: fixed;
  bottom: calc(0% + 5px);*/
  width: 100%;
  z-index: 0;
  word-spacing: 4px;
  position: relative;
  z-index: 5;
}

.backLogoWrapper:before{
  position: absolute;
  height: 100%;
  width: 10px;
  background-color: #fff;
  left: 50%;
  top: 0;
  content: "";
  display: none;
  z-index: 1;
}

.carbon{
  background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
}

.carbon2{
  background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
}

.carbon3 {
  background: 
    radial-gradient(black 15%, transparent 16%) 0 0, 
    radial-gradient(black 15%, transparent 16%) 4px 4px, 
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px, 
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 4px 5px;
  background-color: #282828;
  background-size: 8px 8px;
}

.container{
  background-color: #292626;
  margin: 15px auto;
  padding: 0;
  background-image: url(../../img/plastholes2.png);
  background-size: 30px;
  max-width: 1058px;
  width: calc(100% - 20px);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: inset 0px 0px 12px rgba(0,0,0,1), 0px 5px 7px -1px rgba(0,0,0,0.5);
  border-width: 3px;
  border-style: solid;
  border-color: rgba(255,255,255,0.2) rgba(0,0,0,0.1) rgba(0,0,0,0.6);
  box-sizing: border-box;
  min-height: calc(100% - 30px);
  position: relative;
}

.content{
  min-height: calc(100% - 100px);
  margin: 0 0 52px;
}

header {
  margin: 0px 15px 11px;
  position: relative;
  box-sizing: border-box;
  padding: 5px 0;
  border-radius: 0 0 15px 15px;
  background-color: rgba(171,17,17,0.55);
}

header.hidden{
  opacity: 0;
}

header:before{
  display: block;
  content: "";
  position: absolute;
  z-index: 0;
  width: calc(100%);
  height: 100%;
  left: 0;
  top: -1px;
  opacity: 0.35;
  border-radius: 0 0 15px 15px;
  background: linear-gradient(to bottom, rgb(177, 177, 177) 0%, rgb(136, 136, 136) 4%, rgb(177, 177, 177) 30%, rgb(103, 103, 103) 70%, rgb(58, 58, 58) 100%);
  border-width: 0px 2px 1px;
  border-style: solid;
  border-color: rgba(255,255,255,0.1) rgba(195, 85, 95, 0.2) rgba(255,255,255,0.051);
  box-sizing: border-box;
  box-shadow: 0px 2px 2px 1px rgba(0,0,0,1);
}

.main_title{
  color: rgba(249, 217, 217, 0.86);
  font-size: 18px;
  /* font-weight: bolder; */
  font-family: 'PT Sans Narrow', sans-serif;
  z-index: 2;
  position: relative;
  padding: 0;
  text-align: center;
  text-shadow: -1px -1px 1px rgba(0,0,0,1), 1px 1px 1px rgba(255,255,255,0.4);
  letter-spacing: 1px;
  opacity: 0.5;
}

header *{
  z-index: 2;
}

.mainmenu{
  margin: 0px auto;
  /* box-shadow: inset -2px -2px 7px rgba(0,0,0,.5), inset 2px 2px 7px rgba(250,250,250,0.25); */
  /* padding: 10px; */
  /* border-radius: 35px; */
  max-width: 795px;
  transition: all 0.4s ease 0s;
  transform: scaleY(1);
}

.mainmenu.hidden{
  overflow: hidden;
  height: 0;
  transform: scaleY(0);
}

.mainmenu ul{
  border-color: rgba(0,0,0,0.8);
  border-style: solid;
  border-width: 1px 2px;
  list-style-type: none;
  display: flex;
  align-self: center;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: flex-start;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  box-shadow: -2px -2px 4px 0px rgba(0,0,0,1), 2px 2px 5px 0px rgba(250,250,250,0.25);
}

.mainmenu ul li{
  list-style-type: none;
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,0.8);
  width: 120px;
}

.mainmenu ul li a{
  color: #999;
  font-size: 10px;
  list-style-type: none;
  text-align: center;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  padding: 15px 0;
  background: linear-gradient(to bottom, rgb(32, 34, 35) 0%,rgb(85, 90, 95) 57%,rgb(80, 87, 90) 79%,rgb(29, 31, 33) 100%);
  transition: all 0.3s ease 0s;
}

.mainmenu ul li a:hover{
  color: #efd5d5;
}

.mainmenu ul li a i{
  margin-right: 3px;
}

.mainmenu ul li a.selected{
  color: #ffe8e8;
  background: linear-gradient(to bottom, rgb(33, 37, 39) 0%,rgb(67, 71, 76) 13%,rgb(49, 54, 58) 39%,rgb(17, 19, 21) 100%);
  text-shadow: -2px 0px 6px rgba(255, 178, 178, 0.9), 0px -2px 6px rgba(245, 157, 157, 0.9), 0px 2px 6px rgba(255, 179, 179, 0.9);
}

.tab_content{
  margin: 10px 0px;
  border-radius: 0px;
  padding: 10px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  font-family: 'PT Sans Narrow', sans-serif;
  /* background-color: rgba(110, 25, 25, 0.99); */
  background: radial-gradient(ellipse at center, #696969 0%, #292929 100%);
}

.tab_content:before{
  display: block;
  content: "";
  position: absolute;
  z-index: 0;
  width: calc(100% - 0px);
  height: 100%;
  left: 0;
  top: 0;
  opacity: 1;
  border-radius: 0px;
  /* background: radial-gradient(ellipse at center, #696969 0%, #292929 100%); */
  background-color: #a91717;;
  opacity: 0.4;
  /* background: radial-gradient(ellipse at center, rgb(146, 80, 81) 0%, rgb(70, 26, 24) 100%); */
  border-width: 2px 6px;
  border-style: solid;
  border-color: rgba(255,255,255,0.1) rgba(0,0,0,0.1);
  box-sizing: border-box;
}

aside{
  flex: 0 0 50px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255,255,255,0.1) rgba(0,0,0,0.2) rgba(0,0,0,0.2) rgba(255,255,255,0.1);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
  padding: 10px;
}

.submenu{

}

.content_wrapper{
  overflow-y: auto;
  flex: 1 1 auto;
}

.content_wrapper aside section{
  padding: 4px 8px;
  height: 100%;
  box-sizing: border-box;
}

.content_wrapper .content{
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.metallic_red{
  background: radial-gradient(circle at center, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 60%, rgba(255,255,255,0.1) 100%),
    linear-gradient(rgba(80,0,0,0.21) 0%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0.05) 50.5%, rgba(255,255,255,0.21) 100%);
}

.metallic{
  background: radial-gradient(circle at center, rgba(255,255,255,.15), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), 
    radial-gradient(circle at center, rgba(0,0,0,1), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), 
    radial-gradient(circle at center, rgb(90, 90, 90) 0%, rgb(70, 70, 70) 30%, rgb(47, 44, 44) 100%);
  background-size: 6px 6px, 6px 6px, 100% 100%;
  background-repeat: repeat, repeat, no-repeat;
  background-position: 1px 1px, 0px 0px, center center;
  border-color: rgba(80, 80, 80, 0.9) rgba(33, 33, 33, 0.9) rgba(33, 33, 33, 0.9) rgba(80, 80, 80, 0.9);
}

section.action_toolbar{
  padding: 5px 25px;
  text-align: right;
  flex: 1 1 100%;
}

section.action_toolbar h3{
  font-size: 18px;
  color: rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  font-weight: 600;
  opacity: 0.75;
  text-rendering: optimizeLegibility;
  text-shadow: 0px 1px 3px rgba(255,0,0,0.70);
  /* animation: pulse 2s infinite; */
  letter-spacing: 1px;
  text-shadow: -1px -1px 1px rgba(0,0,0,0.2), 1px 1px 1px rgba(255,255,255,0.2);
  margin: 0;
  padding: 0;
  float: left;
}

section.action_toolbar .action_button{
  box-sizing: border-box;
  box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.7), inset -3px -3px 6px rgba(0,0,0,0.7), inset 2px 2px 2px rgba(255,255,255,0.3);
  color: #777;
  list-style-type: none;
  text-align: center;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  background: linear-gradient(to bottom, rgb(32, 34, 35) 0%, rgb(56, 52, 52) 100%);
  transition: all 0.12s ease 0s;
  cursor: pointer;
  padding: 2px 10px;
  margin: 0 2px;
  display: inline-block;
  width: 60px;
}

section.action_toolbar .action_button.active{
  background: linear-gradient(to bottom, rgb(103, 22, 22) 0%, rgb(160, 39, 39) 50%, rgb(148, 15, 15) 50.4%, rgb(134, 66, 66) 100%);
  box-shadow: 0px 0px 4px 1px rgba(23,0,0,1), inset 2px 2px 4px rgba(0,0,0,0.57),inset -2px -2px 4px rgba(0,0,0,0.57);
  color: #ffe8e8;
  text-shadow: -2px 0px 6px rgba(255, 178, 178, 0.9), 0px -2px 6px rgba(245, 157, 157, 0.9), 0px 2px 6px rgba(255, 179, 179, 0.9);
}

.submenu ul{
  list-style-type: none;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-content: flex-start;
  padding: 0;
  margin: 0;
}

.submenu ul li{
  list-style-type: none;
  box-sizing: border-box;
  margin: 4px 0;
}

.submenu ul li a{
  border-radius: 6px;
  /* border-width: 1px 1px 1px 1px; */
  /* border-style: solid; */
  /* border-color: rgba(255,255,255,0.14) rgba(0, 0, 0, 0.8) rgba(0,0,0,0.8) rgba(255,255,255,0.14); */
  box-sizing: border-box;
  box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.7), inset -3px -3px 6px rgba(0,0,0,0.7), inset 2px 2px 2px rgba(255,255,255,0.3);
  color: #999;
  list-style-type: none;
  text-align: center;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  padding: 7px 0px;
  min-width: 50px;
  background: linear-gradient(to bottom, rgb(32, 34, 35) 0%, rgb(60, 24, 24) 100%);
  transition: all 0.12s ease 0s;
  cursor: pointer;
}

.submenu ul li a span{
  font-size: 8px;
  display: block;
}

.submenu ul li a i{
  font-size: 16px;
}

.submenu ul li a:hover{
  color: #efd5d5;
}

.submenu ul li a.selected{
  background: linear-gradient(to bottom, rgb(103, 22, 22) 0%, rgb(160, 39, 39) 50%, rgb(148, 15, 15) 50.4%, rgb(134, 66, 66) 100%);
  box-shadow: 0px 0px 4px 1px rgba(23,0,0,1), 1px 1px 4px 1px rgba(255,55,50,0.41), inset 2px 2px 4px rgba(0,0,0,0.57),inset -2px -2px 4px rgba(0,0,0,0.57);
  color: #ffe8e8;
  text-shadow: -2px 0px 6px rgba(255, 178, 178, 0.9), 0px -2px 6px rgba(245, 157, 157, 0.9), 0px 2px 6px rgba(255, 179, 179, 0.9);
  padding: 8px 0 6px;
}

footer{
  font-family: 'PT Sans Narrow', sans-serif;
  padding: 8px 15px;
  margin: 0 0 7px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

footer .textline{
  text-align: center;
  font-size: 18px;
  color: rgba(0,0,0,0.7);
  text-transform: uppercase;
  font-weight: 700;
  opacity: .94;
  text-rendering: optimizeLegibility;
  text-shadow: 0px 1px 3px rgba(255,0,0,0.70);
  /*animation: pulse 2s infinite;*/
  letter-spacing: 1px;
  text-shadow: -1px -1px 1px rgba(0,0,0,0.2), 1px 1px 1px rgba(255,255,255,0.2);
  height: 23px;
}

footer a:hover{
  color: rgba(197,57,55,0.6);
}

@keyframes pulse {
  0%   {text-shadow: 0px 1px 3px rgba(255,0,0,0);}
  33%  {color: rgba(255,155,30,0.75);}
  75%  {text-shadow: 0px 1px 3px rgba(255,0,0,0.75);}
  100% {text-shadow: 0px 1px 3px rgba(255,0,0,0);}
}

footer:before{
  display: block;
  content: "";
  position: absolute;
  z-index: 0;
  width: calc(100% - 24px);
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.16;
  background: linear-gradient(to bottom, rgba(47,47,47,1) 0%,rgba(255,255,255,0.61) 9%,rgba(150,150,150,1) 10%,rgba(0,0,0,1) 77%,rgba(0,0,0,1) 100%);
  margin: 0 12px;
  border-radius: 30px;
  box-sizing: border-box;
}

/** LOADER **/
.loader_wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  animation: fadeIn 2s ease-in;
}

.back_logo {
  font-family: 'PT Sans Narrow', sans-serif;
  text-align: center;
  font-size: 3vw;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  font-weight: 100;
  opacity: 0.85;
  text-shadow: 0px 1px 3px rgba(255,0,0,0.70);
  letter-spacing: 1px;
  text-shadow: -1px -1px 1px rgba(0,0,0,0.2), 1px 1px 1px rgba(255,255,255,0.2);
  word-spacing: 0px;
  position: relative;
  transition: all 0.4s ease 0s;
}

.back_co {
  font-family: 'PT Sans Narrow', sans-serif;
  text-align: center;
  font-size: 9vw;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  font-weight: 100;
  opacity: 0.85;
  text-shadow: 0px 1px 3px rgba(255,0,0,0.70);
  letter-spacing: 1px;
  text-shadow: -1px -1px 1px rgba(0,0,0,0.2), 1px 1px 1px rgba(255,255,255,0.2);
  word-spacing: 0px;
  position: relative;
  transition: all 0.4s ease 0s;
}

.backLogoWrapper:before{
  position: absolute;
  height: 100%;
  width: 10px;
  background-color: #fff;
  left: 50%;
  top: 0;
  content: "";
  display: none;
  z-index: 1;
}

.loader {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.3);
  margin: 30px 0 0;
  transition: all 0.7s ease 0s;
  opacity: 0;
}

.loader.on {
  opacity: 1;
}

.loader_message {
  transition: all 0.4s ease 0s;
  animation: flash 5s infinite;
}

.loader_message.error {
  color: rgba(190, 0, 0, 0.5);
}

.loader_spinner {
}

/**
* Global loader
*/
@keyframes spinPulse {
  0% { transform:rotate(205deg); opacity:0; box-shadow:0 0 1px; }
  50% { transform:rotate(145deg); opacity:1;}
  100% { transform:rotate(-320deg); opacity:0; }
}

@keyframes spinoffPulse {
  0% { transform:rotate(0deg); }
  100% { transform:rotate(360deg); }
}

.global_loader {
  position: relative;
  height: 10vw;
  width: 10vw;
  margin: 0 auto 30px;
}

.global_loader .circle{
  background-color: rgba(0,0,0,0);
  border: .5vw solid rgb(151, 151, 151);
  border-right-color: rgba(0,0,0,0);
  border-left-color: rgba(0,0,0,0);
  border-radius: 50%;
  box-shadow: 0 0 2vw rgba(33, 135, 231, 0.1);
  opacity: .9;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  animation: spinPulse 2s infinite linear;
  transition: all 0.4s ease 0s;
  box-sizing: border-box;
}

.global_loader .circle1{
  background-color: rgba(0,0,0,0);
  border: .5vw solid rgb(151, 151, 151);
  opacity: .9;
  border-right-color: rgba(0,0,0,0);
  border-left-color: rgba(0,0,0,0);
  border-radius: 50%;
  box-shadow: 0 0 1vw rgba(33,135,231,0.2);
  width: 70%;
  height: 70%;
  margin: 0 auto;
  position: relative;
  margin-top: -84%;
  transition: all 0.4s ease 0s;
  animation: spinoffPulse 1.5s infinite linear;
  box-sizing: border-box;
}

.global_loader.orange .msg{
  color: #FF8300;
}

.global_loader.orange .circle{
  background-color: rgba(0,0,0,0);
  border: 5px solid rgba(255, 138, 0, 0.9);
  border-right: 5px solid rgba(0,0,0,0);
  border-left: 5px solid rgba(0,0,0,0);
  box-shadow: 0 0 35px rgba(231, 129, 33, 0.1);
}

.global_loader.orange .circle1{
  background-color: rgba(0,0,0,0);
  border: 5px solid rgba(255, 138, 0, 0.9);
  border-left: 5px solid rgba(0,0,0,0);
  border-right: 5px solid rgba(0,0,0,0);
  box-shadow: 0 0 15px rgba(231, 129, 33, 0.1);
}

section{
  padding: 12px;
  margin: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255,255,255,0.1) rgba(0,0,0,0.2) rgba(0,0,0,0.2) rgba(255,255,255,0.1);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
  position: relative;
  z-index: 1;
  flex: 1 1 auto;
  color: #c5a5a5;
  font-size: 14px;
}

section > section {
}

section.input{
  flex: 1 0 auto;
}

section.input_section{
  width: 25%;
  flex: 0 1;
}

.button_line{
  text-align: right;
  margin: 5px 0;
}

.tab_content{
  display: none;
}

.tab_content_wrapper,
.tab_content_wrapper > form {
  display: flex;
  flex-wrap: wrap;
  z-index: 10;
  position: relative;
}

.tab_content.sensors{
  display: none;
}

.tab_content.sensors .tab_content_wrapper{
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: nowrap;
}

.tab_content.active{
  display: block;
}

.tab_content section,
.tab_content.time section{
  flex-basis: 30%;
  flex-grow: 1;
  flex-shrink: 0;
  flex-wrap: wrap;
  min-width: 272px;
}

.tab_content section.fullwidth{
  width: 100%;
  flex: 1 1 100%;
}

.tab_content section.twothirds{
  flex: 2 1 66%;
}

.tab_content.sensors.active{
  display: block;
}

.tab_content.sensors .sensors_wrapper {
  display: block;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.tab_content.sensors .sensors_wrapper .sensors_type {
  display: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.tab_content.sensors .sensors_wrapper .sensors_type.active {
  display: block;
}

.tab_content.sensors:after, 
.tab_content.sensors .sensors_wrapper:after ,
.tab_content.sensors .sensors_wrapper .sensors_type:after {
  display: block;
  clear: both;
  content: "";
}

.tab_content.sensors:after{
  display: block;
  clear: both;
  content: "";
}

h1{
  color: #eee;
  font-size: 24px;
  font-weight: 100;
  padding: 0;
  margin: 2px 0 10px;
}

h2{
  color: #eee;
  font-size: 16px;
  font-weight: 500;
  padding: 0;
  margin: 0px 0 5px;
}

p{
  color: #baa;
  font-size: 13px;
  margin: 0px 0 5px;
}

button{
  border-radius: 5px;
  border-width: 0px;
  border-style: solid;
  border-color: rgba(255,255,255,0.3) rgba(0,0,0,0.5) rgba(0,0,0,0.5) rgba(255,255,255,0.3);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2), inset 1px 1px 1px rgba(255,255,255,0.3), inset -1px -1px 1px rgba(0,0,0,0.3);
  background: linear-gradient(to bottom, rgba(125, 46, 47,1) 0%, rgb(101, 45, 46) 44%, rgb(64, 31, 29) 100%);
  cursor: pointer;
  padding: 6px 15px;
  color: rgba(251, 168, 168, 0.56);
  text-transform: uppercase;
  font-size: 11px;
  transition: all 0.5s ease 0s;
}

button:hover{
  color: rgba(251, 168, 168, 1);
  background: linear-gradient(to bottom, rgba(125, 46, 47,1) 0%, rgb(101, 45, 46) 44%, rgb(164, 31, 29) 100%);
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.9), 1px 2px 9px -3px rgba(255,0,0,0.9), inset 1px 1px 1px rgba(255,255,255,0.3), inset -1px -1px 1px rgba(0,0,0,0.3);
}

input, select, textarea{
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0,0,0,0.46) rgba(255,255,255,0.3) rgba(255,255,255,0.3) rgba(0,0,0,0.46);
  background-color: rgba(0,0,0,0.1);
  color: rgba(251, 168, 168, 0.56);
  padding: 3px 4px;
  margin: 0 0 0 5px;
  transition: all 0.3s ease 0s;
  box-sizing: border-box;
}

.desc{
  font-size: 12px;
  opacity: 0;
  height: 0;
  padding: 0;
  color: #ad9090;
  text-align: right;
  flex: 1 0 auto;
  transition: all 0.3s ease 0s;
}

select:focus + .desc ,
textarea:focus + .desc ,
input:focus + .desc {
  opacity: 1;
  height: auto;
  padding: 3px 0px 6px;
}

input[type="number"]{
  width: 40px;
}

input:focus, select:focus, textarea:focus{
  background-color: rgba(255,255,255,0.1);
  color: rgba(255, 255, 255, 0.76);
}

select option{
  background-color: #282525;
}

table{
  /* border: 1px solid rgba(255,255,255,0.1); */
  color: #ccc;
  font-weight: normal;
  border-collapse: collapse;
  text-align: left;
  font-size: 12px;
  width: 100%;
  margin-bottom: 10px;
}

table tr{
}

table th{
  background-color: rgba(255,255,255,0.1);
  font-weight: normal;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  padding: 6px 6px;
}

table td{
  border-bottom: 1px solid rgba(255,255,255,0.1);
  padding: 6px 6px;
}

table td input{
  margin: 0;
}

section.tab_box.sensor{
  /* min-width: 290px; */
  padding: 10px 10px;
  color: #c5a5a5;
  font-size: 12px;
  width: 312px;
  margin: 3px;
  transition: all 0.3s ease 0s;
  min-height: 200px;
  overflow: hidden;
  box-sizing: border-box;
  /* flex-grow: 1; */
  float: left;
}

.sensor input,
.sensor select,
.sensor .input_toggle{
  margin: 0;
}

section.tab_box.sensor:hover{
  border-color: rgba(255,255,255,0.2);
  box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.3);
}

h3, .sensor h3{
  font-family: 'PT Sans Narrow', sans-serif;
  color: #b54949;
  text-transform: uppercase;
  font-weight: 200;
  margin: 0 0 5px;
  font-size: 12px;
  text-align: center;
  letter-spacing: 1px;
  word-spacing: 2px;
  transition: all 0.3s ease 0s;
}

.sensor.on h3{
  color: #e63434;
}

.sensor.relay h3{
  color: #40a74d;
}

.sensor.humidity h3{
  color: #2885b3;
}

.sensor.relay.on h3{
  color: #43d055;
}

.sensor.humidity.on h3{
  color: #14b1ff;
}

.sensor .box_header, .box_header{
  margin: 0px 0px 10px;
  background-image: url(../../img/plastholes2.png);
  background-size: 24px;
  padding: 5px 0 1px;
  line-height: 1;
  background-color: rgb(41, 38, 38);
  box-shadow: inset 1px 1px 3px rgba(255,255,255,0.24), inset -1px -1px 3px rgba(0,0,0,0.74), -1px -1px 2px 1px rgba(0,0,0,0.4), 1px 1px 2px 1px rgba(255,255,255,0.2);
}

.sensor .graph {
  height: 120px;
  overflow: hidden;
  width: 100%;
  background: #210c0c;
  background-image: url('../../img/evenBG.png');
  display: block;
  position: relative;
  margin: 3px auto;
  box-sizing: content-box;
  box-shadow: inset 2px 2px 3px rgba(0,0,0,0.75), inset -2px -2px 3px rgba(255,255,255,0.3);
}

.sensor .graph .graph_panel {
  height: 95px;
  overflow: hidden;
  width: calc(100% - 30px);
  display: flex;
  align-items: flex-end;
  position: relative;
  margin: 5px 0 20px 20px;
  box-sizing: content-box;
}

.sensor .graph .axis{
  position: absolute;
  border-style: dotted;
  border-color: #e8abab;
  display: flex;
}

.sensor .graph .axis b{
  font-size: 8px;
  flex: 1 1 auto;
  padding: 4px 1px;
  display:flex;
  justify-content: flex-end;
  vertical-align: bottom;
  flex-direction: column;
}

.sensor .graph .axis.x_vals{
  border-width: 1px 0 0 0;
  height: 20px;
  bottom: 0;
  width: calc(100% - 24px);
  right: 6px;
  flex-direction: row;
}

.sensor .graph .axis.y_vals{
  border-width: 0 1px 0 0;
  left: 0;
  width: 20px;
  height: calc(100% - 21px);
  top: 3px;
  flex-direction: column;
}

.sensor .graph .axis.y_vals b{
  text-align: right;
  padding: 0px 5px;
  margin: 0 0 -2px;
}

.sensor.relay .graph .axis.y_vals {
  border-width: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 21px);
  top: 3px;
  flex-direction: column;
} 

.sensor.relay .graph .axis.y_vals b {
  text-align: left;
}

.sensor.relay .graph .axis.y_vals b:after {
  position: absolute;
  border-top: 1px dotted #987373;
  width: calc(100% - 25px);
  content: "";
  display: block;
  margin: -5px 0 0 13px;
}

.sensor_value{
  width: 25px;
  opacity: 0.7;
  background-color: rgba(221,85,85,0.6);
  border: 1px solid rgba(125, 51, 51, 0.6);
  box-sizing: border-box;
  z-index: 10;
}

.humidity .sensor_value{
  background-color: rgba(85, 160, 221, 0);
  border: 0 none;
  border-top: 2px solid rgba(85, 160, 221, 0.8);
}

.relay .sensor_value{
  background-color: rgba(85, 221, 132, 0);
  border: 1px solid rgba(26, 134, 26, 0);
  position: relative;
  box-sizing: content-box;
}

.relay .sensor_value:before{
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 3px;
  height: 3px;
  background-color: rgba(85, 221, 132, 0.6);
  border: 1px solid rgba(26, 134, 26, 0.6);
  border-radius: 56%;
  box-sizing: border-box;
}

.sensor .box_tab_line{
  display: flex;
  margin: 10px 0 9px;
  flex-direction: row;
  padding: 1px;
  /* border-bottom: 1px solid #722; */
  box-shadow: inset 0px 0px 6px rgba(0,0,0,1), 0px 0px 7px -2px rgba(255,255,255,0.4);
}

.sensor .box_tab_line .box_tab{
  padding: 3px 5px;
  cursor: pointer;
  flex: 1;
  color: #a07474;
  text-align: center;
  box-shadow: inset 1px 1px 3px rgba(255,255,255,0.3), inset -2px 0px 2px rgba(0,0,0,0.3);
  transition: all 0.3s ease 0s;
}

.sensor .box_tab_line .box_tab:hover{
  color: #dcbbbb;
  text-shadow: -2px 0px 6px rgba(255, 178, 178, 0.19), 0px -2px 6px rgba(245, 157, 157, 0.69), 0px 2px 6px rgba(255, 179, 179, 0.29);
}

.sensor .box_tab_line .box_tab.active{
  box-shadow: inset 2px 2px 3px rgba(0,0,0,0.5),inset -1px -1px 3px rgba(255, 188, 188, 0.3);
  color: #e0afaf;
  text-shadow: -2px 0px 6px rgba(255, 178, 178, 0.29), 0px -2px 6px rgba(245, 157, 157, 0.59), 0px 2px 6px rgba(255, 179, 179, 0.39);
  background-color: rgba(60,0,0,0.7);
  background: linear-gradient(to bottom, rgb(80, 22, 22) 0%, rgb(125, 47, 47) 49%, rgb(115, 12, 12) 50%, rgb(82, 0, 0) 100%);
}

.sensor .sensor_column_wrapper{
  display: none;
}

.sensor .sensor_column_wrapper.active{
  display: block;
}

.input_wrapper{
  margin: 6px 0 15px;
  display: flex;
  align-content: stretch;
  align-items: center;
  min-height: 24px;
  box-sizing: content-box;
  flex-wrap: wrap;
}

.sensor .input_wrapper {
  margin: 6px 0;
}

.input_wrapper label{
  width: 90px;
  display: inline-block;
  flex: 0 0 auto;
}

.input_wrapper input,
.input_wrapper textarea,
.input_wrapper select{
  flex: 3 1 223px;
  max-width: 223px;
}

.sensor .input_wrapper input,
.sensor .input_wrapper textarea,
.sensor .input_wrapper select{
  flex: 3 1 auto;
  max-width: 210px;
}

.input_wrapper .input_toggle{
  margin: 5px;
}

.input_wrapper input[type="number"]{
  flex: 0 1 auto;
  width: 65px;
  text-align: right;
  padding-right: 2px;
}

.filter_on .sensor.on,
.filter_off .tab_box:not(.on){
  opacity: 1;
  visibility: visible;
}

.filter_on .sensor:not(.on),
.filter_off .sensor.on{
  opacity: 0;
  width: 0;
  margin: 0;
  padding: 0;
  border: 0 none;
  height: 0;
  transform: scaleY(0);
  visibility: hidden;
  display: none;
}


.sensor .hysteresis_wrapper {
  min-height: 181px;
}

.sensor .hysteresis_wrapper .hyst_header {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0,0,0,0.2) rgba(255,255,255,0.1) rgba(255,255,255,0.1) rgba(0,0,0,0.2);
  padding: 3px 0;
  margin: 0;
  display: flex;
  /* background-color: rgba(255,255,255,0.05); */
  text-align: center;
}

.sensor .hysteresis_wrapper .hyst_header label {
  flex: 2 0 0;
  padding: 0 2px;
  white-space: nowrap;
  text-align: center;
}

.sensor .hysteresis_wrapper .hyst_header label.act {
  flex: 1 1 0;
  padding: 0 2px;
}

.sensor .hysteresis_wrapper .hyst_header label.act:hover {
  color: #4f5;
}

.sensor .hysteresis_wrapper .hyst_header label span {
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.sensor .hysteresis_wrapper .hyst_header label span {
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.sensor .hysteresis_wrapper .hyst_segment {
  /* border-bottom: 1px solid rgba(0,0,0,0.1); */
  padding: 0 0 0px 0;
  margin: 0 0 0px 0;
  display: flex;
  align-items: center;
}

.sensor .hysteresis_wrapper .hyst_segment .input_wrapper {
  flex: 2 0 0;
  padding: 0 2px;
}

.sensor .hysteresis_wrapper .hyst_segment .input_wrapper label {
  display: none;
}

.sensor .hysteresis_wrapper .hyst_segment .input_wrapper input {
  text-align: right;
  width: 100%;
}

.sensor .hysteresis_wrapper .hyst_segment .input_wrapper.act {
  text-align: center;
  flex: 1 1 0;
}

.sensor  .hysteresis_wrapper .hyst_segment .input_wrapper.act div.remove:hover {
  color: #ff2f2f;
}

.sensor .hysteresis_wrapper .hyst_segment .input_wrapper.act div.remove {
  cursor: pointer;
  transition: all 0.3s ease 0s;
  display: inline-block;
  flex: inherit;
}


.tab_box .box_content .input_wrapper:after, .input_wrapper:after {
  content: "";
  clear: both;
  display: block;
}

.input_toggle{
  display: flex;
  /*
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0,0,0,0.46) rgba(255,255,255,0.3) rgba(255,255,255,0.3) rgba(0,0,0,0.46);
  */
  background-color: rgba(0,0,0,0.1);
  border-radius: 10px;
  font-size: 9px;
  padding: 2px 0;
  position: relative;
  box-shadow: inset 1px 1px 1px rgba(0,0,0,0.85), inset -1px -1px 1px rgba(255,255,255,0.85);
  margin: 2px 5px 2px 0;
  cursor: pointer;
  box-sizing: border-box;
}

.input_toggle span{
  flex: 1 1 auto;
  padding: 0 2px;
  transition: all 0.3s ease 0s;
}

.input_toggle span.off_label{
  padding: 0 4px 0 2px;
  opacity: 1;
  color: #9c5f5f;
}

.input_toggle span.on_label{
  padding: 0 2px 0 4px;
  opacity: 0;
  color: #e4a6a6;
}

.input_toggle.on span.off_label{
  opacity: 0;
}

.input_toggle.on span.on_label{
  opacity: 1;
}

.diode{
  display: inline-block;
  position: absolute;
  left: 2px;
  top: 2px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: radial-gradient(circle at top, rgb(214, 163, 163) 0%, rgb(66, 26, 26) 50%, rgb(255, 47, 47) 100%);
  box-shadow: 0px 0px 2px 0px #000, inset 0px 0px 2px #000, inset 0px -3px 1px rgba(20,0,0,0.24), inset 0px 0px 2px rgba(255,255,255,0.35);
  transition: all 0.3s ease 0s;
}

.diode:before{
  position: absolute;
  top: 1px;
  display: block;
  content: "";
  box-shadow: inset 1px 2px 2px rgba(255,255,255,0.9), 0px 0px 1px 1px rgba(255,255,255,0.11);
  left: 2px;
  width: 5px;
  height: 3px;
  border-radius: 66%;
  opacity: 0.75;
  transform: rotate(-20deg);
  transition: all 0.3s ease 0s;
}

.input_toggle.on .diode{
  background: radial-gradient(circle at top, rgb(236, 0, 0) 0%, rgb(255, 0, 5) 50%, rgb(206, 0, 0) 100%);
  box-shadow: 0px 0px 11px 1px #f00, 0px 0px 1px 1px rgba(0,0,0,1), inset 0px -1px 3px rgba(0,0,0,0.62), inset 0px -3px 1px rgba(152, 106, 106, 0.24), inset 1px 4px 4px rgba(255,255,255,0.483);
  left: 56%;
}

.input_toggle.on .diode:before{
  box-shadow: inset 1px 2px 2px rgba(255,255,255,0.9), 0px 0px 5px 2px rgba(255, 98, 98, 0.911);
  opacity: 0.88;
}

/* ** TOGGLER ** */
.toggler{
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2) rgba(0, 0, 0, 0.63) rgba(0, 0, 0, 0.16) rgba(255, 255, 255, 0.1);
  width: 40px;
  height: 20px;
  background: linear-gradient(to right, rgb(88, 88, 88) 0%,rgb(88, 88, 88) 50%, rgb(111, 111, 111) 52%, rgb(121, 121, 121) 78%, rgb(66, 66, 66) 86%, rgb(33, 33, 33) 100%);
  box-shadow: /*2px 4px 4px 1px rgba(0,0,0,0.4),*/ 0px 0px 1px 2px rgba(0,0,0,0.3624), inset -1px 0 2px rgba(0,0,0,0.14);
  margin: 10px 4px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  position: relative;
}

.toggler.on{
  background: linear-gradient(to left, rgb(88, 88, 88) 0%,rgb(88, 88, 88) 50%,rgb(53, 53, 53) 52%, rgb(49, 49, 49) 76%, rgb(125, 125, 125) 86%, rgb(105, 105, 105) 100%);
}

.toggler:after{
  height: 15px;
  width: 21px;
  /*box-shadow: inset -6px -8px 3px rgba(70,0,0,0.84);*/
  content: "";
  display: block;
  right: -1px;
  position: absolute;
  /* transform: rotate(45deg); */
  top: 23px;
  border-style: solid;
  border-width: 8px 9px 9px 15px;
  box-sizing: border-box;
  border-color: rgba(0,0,0,0.2) transparent transparent;
}

.toggler.on:after{
  right: 18px;
  border-width: 8px 10px 9px 15px;
}


/* ** SCREW ** */

.screw{
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: radial-gradient(circle at top, rgb(123, 123, 123) 0%, rgb(25, 25, 25) 38%, rgb(14, 14, 14) 100%);
  box-shadow: 2px 1px 4px 0px rgba(0,0,0,0.3), 0px 0px 2px 1px rgba(0,0,0,0.12), inset 0px 0px 2px #000, inset 0px -3px 1px rgba(0, 0, 0, 0.24), inset 0px 0px 2px rgba(255,255,255,0.35);
  transition: all 0.3s ease 0s;
  font-size: 8px;
  text-align: center;
}

.screw:before{
  position: absolute;
  top: 1px;
  display: none;
  content: "";
  box-shadow: inset 1px 2px 2px rgba(255,255,255,0.9), 0px 0px 1px 1px rgba(255,255,255,0.11);
  left: 2px;
  width: 5px;
  height: 3px;
  border-radius: 66%;
  opacity: 0.75;
  transform: rotate(-20deg);
  transition: all 0.3s ease 0s;
}

.screw i{
  text-shadow: 0px 0px 1px rgba(255,255,255,0.36);
  color: rgba(0,0,0,0.87);
}

.screw.tl{
  position: absolute;
  top: 3px;
  left: 3px;
}

.screw.tr{
  position: absolute;
  top: 3px;
  right: 3px;
}

.screw.bl{
  position: absolute;
  bottom: 3px;
  left: 3px;
}

.screw.br{
  position: absolute;
  bottom: 3px;
  right: 3px;
}

.ui-datepicker{
  box-shadow: 4px 4px 6px -2px rgba(0,0,0,0.7), inset -3px -3px 6px rgba(0,0,0,0.7), inset 2px 2px 2px rgba(255,255,255,0.3);
  background: radial-gradient(ellipse at center, #696969 0%, #292929 100%);
  font-family: 'PT Sans Narrow', sans-serif;
  color: #c5a5a5;
  font-size: 14px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255,255,255,0.1) rgba(0,0,0,0.2) rgba(0,0,0,0.2) rgba(255,255,255,0.1);
  padding: 10px;
}

.ui-datepicker .ui-datepicker-header, .ui-widget-header {
  margin: 0px 0px 5px;
  background-image: url(../../img/plastholes2.png);
  background-size: 24px;
  padding: 5px 0 1px;
  line-height: 1;
  color: #b54949;
  border: 0 none;
  background-color: rgb(41, 38, 38);
  box-shadow: inset 1px 1px 3px rgba(255,255,255,0.24), inset -1px -1px 3px rgba(0,0,0,0.74), -1px -1px 2px 1px rgba(0,0,0,0.4), 1px 1px 2px 1px rgba(255,255,255,0.2);
}

.ui-datepicker .ui-datepicker-buttonpane button {
  border-radius: 5px;
  border-width: 0px;
  border-style: solid;
  border-color: rgba(255,255,255,0.3) rgba(0,0,0,0.5) rgba(0,0,0,0.5) rgba(255,255,255,0.3);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2), inset 1px 1px 1px rgba(255,255,255,0.3), inset -1px -1px 1px rgba(0,0,0,0.3);
  background: linear-gradient(to bottom, rgba(125, 46, 47,1) 0%, rgb(101, 45, 46) 44%, rgb(64, 31, 29) 100%);
  cursor: pointer;
  padding: 6px 15px;
  color: rgba(251, 168, 168, 0.56);
  text-transform: uppercase;
  font-size: 11px;
  transition: all 0.5s ease 0s;
}

.ui-datepicker .ui-datepicker-buttonpane button:hover {
  color: rgba(251, 168, 168, 1);
  background: linear-gradient(to bottom, rgba(125, 46, 47,1) 0%, rgb(101, 45, 46) 44%, rgb(164, 31, 29) 100%);
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.9), 1px 2px 9px -3px rgba(255,0,0,0.9), inset 1px 1px 1px rgba(255,255,255,0.3), inset -1px -1px 1px rgba(0,0,0,0.3);
}

.ui-datepicker .ui-datepicker-buttonpane{
  border: 0 none;
}

.ui-datepicker .ui-datepicker-buttonpane:after{

}

.ui-datepicker tbody{
  padding: 2px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: 1px solid #6b4949;
  background: rgba(197, 159, 159, 0.2);
  font-weight: normal;
  color: #f1e0e0;
  /* border-radius: 6px; */
  text-align: center;
}

.ui-slider.ui-slider-horizontal .ui-slider-handle{
  border-radius: 50%;
  background: radial-gradient(circle at top, rgb(214, 163, 163) 0%, rgb(66, 26, 26) 50%, rgb(255, 47, 47) 100%);
  box-shadow: 0px 0px 2px 0px #000, inset 0px 0px 2px #000, inset 0px -3px 1px rgba(20,0,0,0.24), inset 0px 0px 2px rgba(255,255,255,0.35);
  transition: all 0.1s ease 0s;
  width: 16px;
  height: 16px;
}

.ui-slider.ui-slider-horizontal {
  background-color: rgba(0,0,0,0.34);
  border: 0 none;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.4), inset -1px -1px 1px rgba(255, 255, 255, 0.4);
}

.auth_fields{
  visibility: hidden;
  opacity: 0;
  height: 0px;
  transition: all 0.3s ease 0s;
}

.auth_fields.show{
  visibility: visible;
  opacity: 1;
  height: auto;
}

.ui-timepicker-div dl dd {
  margin: 0 10px 20px 40%;
}


.io_table {
  display: table;
  border: 1px solid rgba(255,255,255,0.2);
  width: 100%;
  position: relative;
  color: #ccc;
  font-weight: normal;
  text-align: left;
  font-size: 12px;
  margin-bottom: 10px;
}

.thead {
  display: table-header-group;
}

.tbody, .tgroup {
  display: table-row-group;
  position: relative;
}

.tfooter {
  display: table-footer-group;
}

.trow {
  display: table-row;
}

.trow:nth-child(even) {
  background-color: rgba(0,0,0,0.15);
}

.trow.caption {
  text-transform: uppercase;
  position: relative;
  height: 20px;
}

.trow.caption:after {
  display: table-cell;
  clear: both;
  content: "";
}

.th {
  display: table-cell;
  padding: 2px 5px;
  vertical-align: middle;
}

.trow:nth-child(even) .th{
}

.trow.caption .th{
  color: #fff;
}

.trow.caption .th.allspan{
  position: absolute;
  width: 100%;
  /* text-align: center; */
  box-sizing: border-box;
  font-size: 14px;
  background-color: rgba(0,0,0,0.25);
  border-top: 1px solid rgba(255,255,255,0.15);
}

.trow.entry.on {
  color:  #f70;
}

.trow.entry .th {
  cursor: pointer;
}

.thead .th{
  text-align: center;
  background-color: rgba(255,255,255,0.1);
  font-weight: normal;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  padding: 6px 6px;
}

.td {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.td .conn {
  display: inline-block;
  position: relative;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: radial-gradient(circle at top, rgb(214, 163, 163) 0%, rgb(66, 26, 26) 50%, rgb(255, 47, 47) 100%);
  box-shadow: 0px 0px 2px 0px #000, inset 0px 0px 2px #000, inset 0px -3px 1px rgba(20,0,0,0.24), inset 0px 0px 2px rgba(255,255,255,0.35);
  transition: all 0.3s ease 0s;
  margin: 6px 0 0;
  cursor: pointer;
}

.td .conn:before {
  position: absolute;
  top: 1px;
  display: block;
  content: "";
  box-shadow: inset 1px 2px 2px rgba(255,255,255,0.9), 0px 0px 1px 1px rgba(255,255,255,0.11);
  left: 2px;
  width: 5px;
  height: 3px;
  border-radius: 66%;
  opacity: 0.75;
  transform: rotate(-20deg);
  transition: all 0.3s ease 0s;
}

.td .conn:hover {
  background-color: #da8;
}

.td .conn.on {
  background: radial-gradient(circle at top, rgb(236, 0, 0) 0%, rgb(255, 0, 5) 50%, rgb(206, 0, 0) 100%);
  box-shadow: 0px 0px 11px 1px #f00, 0px 0px 1px 1px rgba(0,0,0,1), inset 0px -1px 3px rgba(0,0,0,0.62), inset 0px -3px 1px rgba(152, 106, 106, 0.24), inset 1px 4px 4px rgba(255,255,255,0.483);
}

.td .conn.on:before {
  box-shadow: inset 1px 2px 2px rgba(255,255,255,0.9), 0px 0px 5px 2px rgba(255, 98, 98, 0.911);
  opacity: 0.88;
}

.tgroup.temperature .th.allspan{
  color: #b54949;
}

.tgroup.humidity .th.allspan{
  color: #1592d0;
}

.tgroup.relay .th.allspan{
  color: #40a74d;
}

/* *** LOGGER *** */

.log_message {
  font-family: monospace;
  font-size: 11px;
  margin-bottom: 3px;
}

.log_message.error{
  color: #ed143d;
}

.log_message.info{

}

.log_message.warning{
  color: #ed8e14;
}

/* ********************* RESPONSIVE ******************* */

@media all and (max-width:880px){
  .mainmenu ul li a i{
    display: block;
    margin: 0 0 5px;
  }

  .mainmenu ul li a span{
    display: block;
  }
}

@media all and (max-width:800px){
  .mainmenu ul li a span{
    font-size: 1.2vw;
  }
}

@media all and (max-width:620px){
  .mainmenu{
    margin: 0 10px;
  }
}

@media all and (max-width:560px){
  .content_wrapper .content{
  }

  section.tab_box.sensor{
    flex: 1 1 100%;
  }

  .submenu ul {
    flex-flow: row wrap;
  }

  .mainmenu ul li a span{
  }
}

@media all and (max-width:510px){
  .mainmenu ul li a span{
    text-shadow: none;
    display: none;
  }
}

@media all and (max-width:420px){
  .content_wrapper {
    flex-direction: column;
  }
}