/* 
    Created on : Nov 08, 2016, 5:00:00 PM
    Author     : Aleksandar
*/
html, body {
  background-color: #dfdfdf;
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  font-family: Arial;
  font-size: 15px;
  line-height: 1.2;
  min-width: 300px;
}

*:focus{
  outline: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently not supported by any browser */
  box-sizing: border-box;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.template_holder {
  display: none;
}

input, textarea {
  -webkit-user-select: all;   /* Chrome/Safari/Opera */
  -khtml-user-select: all;    /* Konqueror */
  -moz-user-select: all;      /* Firefox */
  -ms-user-select: all;       /* Internet Explorer/Edge */
  user-select: all;
}

.no_overflow {
  overflow: hidden;
}

a{
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.container {
  margin: 0;
  padding: 0;
  height: 100%;
}

/** LOADER **/
.loader_wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  animation: fadeIn 2s ease-in;
}

.back_logo {
  font-family: 'PT Sans Narrow', sans-serif;
  text-align: center;
  font-size: 3vw;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  font-weight: 100;
  opacity: 0.85;
  text-shadow: 0px 1px 3px rgba(255,0,0,0.70);
  letter-spacing: 1px;
  text-shadow: -1px -1px 1px rgba(0,0,0,0.2), 1px 1px 1px rgba(255,255,255,0.2);
  word-spacing: 0px;
  position: relative;
  transition: all 0.4s ease 0s;
}

.back_co {
  font-family: 'PT Sans Narrow', sans-serif;
  text-align: center;
  font-size: 9vw;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  font-weight: 100;
  opacity: 0.85;
  text-shadow: 0px 1px 3px rgba(255,0,0,0.70);
  letter-spacing: 1px;
  text-shadow: -1px -1px 1px rgba(0,0,0,0.2), 1px 1px 1px rgba(255,255,255,0.2);
  word-spacing: 0px;
  position: relative;
  transition: all 0.4s ease 0s;
}

.backLogoWrapper:before{
  position: absolute;
  height: 100%;
  width: 10px;
  background-color: #fff;
  left: 50%;
  top: 0;
  content: "";
  display: none;
  z-index: 1;
}

.loader {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.3);
  margin: 30px 0 0;
  transition: all 0.7s ease 0s;
  opacity: 0;
}

.loader.on {
  opacity: 1;
}

.loader_message {
  transition: all 0.4s ease 0s;
  animation: flash 5s infinite;
}

.loader_message.error {
  color: rgba(190, 0, 0, 0.5);
}

.loader_spinner {
}

/**
* Global loader
*/
@keyframes spinPulse {
  0% { transform:rotate(205deg); opacity:0; box-shadow:0 0 1px; }
  50% { transform:rotate(145deg); opacity:1;}
  100% { transform:rotate(-320deg); opacity:0; }
}

@keyframes spinoffPulse {
  0% { transform:rotate(0deg); }
  100% { transform:rotate(360deg); }
}

.global_loader {
  position: relative;
  height: 10vw;
  width: 10vw;
  margin: 0 auto 30px;
}

.global_loader .circle{
  background-color: rgba(0,0,0,0);
  border: .5vw solid rgb(151, 151, 151);
  border-right-color: rgba(0,0,0,0);
  border-left-color: rgba(0,0,0,0);
  border-radius: 50%;
  box-shadow: 0 0 2vw rgba(33, 135, 231, 0.1);
  opacity: .9;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  animation: spinPulse 2s infinite linear;
  transition: all 0.4s ease 0s;
}

.global_loader .circle1{
  background-color: rgba(0,0,0,0);
  border: .5vw solid rgb(151, 151, 151);
  opacity: .9;
  border-right-color: rgba(0,0,0,0);
  border-left-color: rgba(0,0,0,0);
  border-radius: 50%;
  box-shadow: 0 0 1vw rgba(33,135,231,0.2);
  width: 70%;
  height: 70%;
  margin: 0 auto;
  position: relative;
  margin-top: -84%;
  transition: all 0.4s ease 0s;
  animation: spinoffPulse 1.5s infinite linear;
}

.global_loader.orange .msg{
  color: #FF8300;
}

.global_loader.orange .circle{
  background-color: rgba(0,0,0,0);
  border: 5px solid rgba(255, 138, 0, 0.9);
  border-right: 5px solid rgba(0,0,0,0);
  border-left: 5px solid rgba(0,0,0,0);
  box-shadow: 0 0 35px rgba(231, 129, 33, 0.1);
}

.global_loader.orange .circle1{
  background-color: rgba(0,0,0,0);
  border: 5px solid rgba(255, 138, 0, 0.9);
  border-left: 5px solid rgba(0,0,0,0);
  border-right: 5px solid rgba(0,0,0,0);
  box-shadow: 0 0 15px rgba(231, 129, 33, 0.1);
}

/** HEADER **/
header {
  position: relative;
  box-sizing: border-box;
  padding: 5px 0;
  background-color: #fff;
}

header *{
  z-index: 2;
}

.hidden,
.page_header.hidden {
  opacity: 0;
}

.main_title{
  color: #777;
  font-size: 12px;
  font-family: 'PT Sans Narrow', sans-serif;
  height: 45px;
  z-index: 2;
  position: relative;
  padding: 0 10px;
  letter-spacing: 1px;
  display: flex;
  max-width: 200px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: column wrap;
}

.main_title .logo {
  background: url(/img/netways-logo.png) no-repeat 0 0 transparent;
  display: block;
  height: 100%;
  width: 100%;
  background-size: 100%;
  margin-top: 7px;
}

.main_title span{
  display: none;
}

.main_title_app{
  font-size: 20px;
  display: none;
}

.mainmenu{
  position: absolute;
  z-index: 30;
  right: 10px;
  top: 5px;
}

.mainmenu ul{
  list-style-type: none;
  display: flex;
  align-self: center;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: flex-start;
  padding: 0;
  margin: 0 auto;
  width: 100%;
}

.mainmenu ul li{
  list-style-type: none;
}

.mainmenu ul li a{
  color: #f05523;
  font-size: 12px;
  list-style-type: none;
  text-align: center;
  text-decoration: none;
  display: block;
  text-transform: capitalize;
  padding: 18px 15px;
  transition: all 0.3s ease 0s;
  position: relative;
}

.mainmenu ul li a:hover{
  color: #ff9b00;
}

.mainmenu ul li a i{
  margin-right: 3px;
}

.mainmenu ul li a:after{
  background-color: #f05523;
  height: 0;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  display: block;
  content: "";
  transition: all 0.4s ease 0s;
}

.mainmenu ul li a.selected:after{
  height: 4px;
}

.content {
  position: relative;
  background-color: #f6f6f6;
  font-family: 'PT Sans Narrow', sans-serif;
  margin-bottom: 25px;
  min-height: calc(100% - 81px);
  display: flex;
}

.content.hidden{
  height: 0;
}

.content:before{
}

/** FOOTER **/
.page_footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer{
  font-family: 'PT Sans Narrow', sans-serif;
  padding: 5px 0px;
  text-align: center;
  position: relative;
  background-color: #c1c8ca;
  z-index: 10;
}

footer:before{
  left: 120px;
  content: "";
  display: none;
  width: calc( 100% - 120px);
  position: absolute;
  top: -4px;
  box-shadow: inset 0px -3px 2px rgba(0,0,0,0.15);
  z-index: 1;
  height: 4px;
}

footer .textline{
  text-align: center;
  font-size: 14px;
  color: rgba(88, 88, 88, 0.7);
  text-transform: uppercase;
  font-weight: 700;
  opacity: .9;
  text-rendering: optimizeLegibility;
  letter-spacing: 1px;
}

footer .textline:after{
  clear: both;
  display: block;
  content: "";
}

footer a:hover{
  color: rgba(197,57,55,0.6);
}

/** SIDEBAR and SUBMENU **/
.sidebar {
  flex: 0 0 190px;
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
}

.sidebar .submenu {
  padding: 4px 0;
  box-sizing: border-box;
  border: 0 none;
  box-shadow: none;
  flex: 1;
}

.submenu ul{
  list-style-type: none;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-content: flex-start;
  padding: 0;
  margin: 0;
}

.submenu ul li{
  list-style-type: none;
  box-sizing: border-box;
  margin: 4px 0px;
}

.submenu ul li a{
  border-radius: 6px;
  box-sizing: border-box;
  color: #444;
  list-style-type: none;
  text-align: left;
  text-decoration: none;
  display: block;
  text-transform: capitalize;
  min-width: 50px;
  transition: all 0.12s ease 0s;
  cursor: pointer;
  font-size: 15px;
}

.submenu ul li a span{
  display: inline-block;
}

.submenu ul li a i{
  padding: 8px;
  width: 34px;
  text-align: center;
  margin-right: 6px;
}

.submenu ul li a:hover{
  color: #bd7300;
}

.submenu ul li a.selected{
  color: #f05523;
  border-radius: 5px 0 0 5px;
  background-color: #f7f7f7;
}

.submenu ul li a.selected i{
  color: #fff;
  background-color: #f05523;
}

.sidebar .button_bar {
  margin: 20px 10px;
  flex: 0;
}

.subpages {
  background-color: #f7f7f7;
  padding: 8px;
  overflow-y: auto;
  flex: 1 1 auto;
}

.configuration .subpages {
  max-width: 900px;
}

.io .page_wrapper {
  max-width: 1000px;
}

/** ACTION TOOLBAR **/
.toolbar {
  display: flex;
  margin: 0 3px 10px;
  padding: 0;
  text-align: right;
  flex: 1 1 100%;
  /* background-color: #dee1e2; */
  position: relative;
  align-items: flex-end;
  flex-direction: row;
  justify-content: flex-end;
}

.toolbar h3{
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  margin-right: 10px;
  color: #999;
}

.toolbar button.overview_button {
  padding: 3px 12px;
  text-align: center;
  font-size: 20px;
  line-height: 1;
  background-color: #fff;
  border: 1px solid #f05523;
  color: #f05523;
  margin: 0;
  height: 31px;
}

.toolbar button:hover{
  background-color: #f70;
  color: #fff;
}

.toolbar button.active{
  background-color: #f05523;
  color: #fff;
}

.toolbar button.overview_button i {
  margin-right: 0;
}

.toolbar .action_button{
  box-sizing: border-box;
  list-style-type: none;
  text-align: center;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  transition: all 0.12s ease 0s;
  cursor: pointer;
  padding: 5px 0px;
  display: inline-block;
  width: 44px;
  border: 1px solid #f05523;
  background-color: #fbfbfb;
  color: #f05523;
  font-weight: bold;
}

.toolbar .action_button:last-child{
  border-left: 0;
}

.metallic_red{
  background: radial-gradient(circle at center, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 60%, rgba(255,255,255,0.1) 100%),
    linear-gradient(rgba(80,0,0,0.21) 0%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0.05) 50.5%, rgba(255,255,255,0.21) 100%);
}

.metallic{
  background: radial-gradient(circle at center, rgba(255,255,255,.15), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), 
    radial-gradient(circle at center, rgba(0,0,0,1), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), 
    radial-gradient(circle at center, rgb(90, 90, 90) 0%, rgb(70, 70, 70) 30%, rgb(47, 44, 44) 100%);
  background-size: 6px 6px, 6px 6px, 100% 100%;
  background-repeat: repeat, repeat, no-repeat;
  background-position: 1px 1px, 0px 0px, center center;
  border-color: rgba(80, 80, 80, 0.9) rgba(33, 33, 33, 0.9) rgba(33, 33, 33, 0.9) rgba(80, 80, 80, 0.9);
}

@keyframes pulse {
  0%   {text-shadow: 0px 1px 3px rgba(255,0,0,0);}
  33%  {color: rgba(255,155,30,0.75);}
  75%  {text-shadow: 0px 1px 3px rgba(255,0,0,0.75);}
  100% {text-shadow: 0px 1px 3px rgba(255,0,0,0);}
}

section{
  padding: 12px;
  margin: 0px;
  position: relative;
  z-index: 1;
  flex: 1 1 auto;
}

section > section {
}

.input{
  flex: 1 0 auto;
}

.input_section{
  width: 25%;
  flex: 0 1;
}

.button_line{
  text-align: right;
  margin: 5px 0;
}

.button_line{
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.fullwidth .button_line{
  position: relative;
  bottom: 0;
  right: 0;
}

.page {
  display: none;
  background-color: #f6f6f6;
  position: relative;
  box-sizing: border-box;
  font-family: 'PT Sans Narrow', sans-serif;
  color: #888;
  font-size: 14px;
}

.page.sensors{
  display: none;
}

.page.active{
  display: flex;
  width: 100%;
}

.page.sensors.active{
}

.page.sensors.active .page_wrapper,
.page.configuration.active .page_wrapper{
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}

.page .tab_box {
  flex: 1 0 30%;
  flex-wrap: wrap;
  min-width: 255px;
  margin: 3px;
  padding: 12px 12px 16px;
  position: relative;
  z-index: 1;
}

form .tab_box {
  border-left: 1px solid #fff;
}

.page .tab_box:not(.sensor):first-child {
  border-left: 0;
}

.configuration .tab_box {
  max-width: 400px;
}

.page .tab_box.more_padding {
  padding-bottom: 55px;
}

.page.time .tab_box {

}

.page.logger .log_content{
  font-family: monospace;
  min-height: 200px;
  background-color: #fafafa;
  padding: 10px;
}

.page .fullwidth{
  width: 100%;
  max-width: 100%;
  flex: 1 1 100%;
}

.fullwidth.bordered {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 0;
}

.page .twothirds{
  flex: 2 1 66%;
}

.page.sensors .sensors_wrapper {
  display: block;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.page.sensors .sensors_wrapper .sensors_type {
  display: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.subpage {
  display: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 1;
  flex: 1 1 auto;
  color: #888;
  font-size: 14px;
}

.subpage.active {
  display: block;
}

.page.sensors .sensors_type.overview {

}

.page.sensors .sensors_type.active {
  display: block;
}

.page.sensors .sensors_type:after {
  display: block;
  clear: both;
  content: "";
}

.page_wrapper,
.page_wrapper > form,
.subpage > form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

h1{
  color: #444;
  font-size: 24px;
  font-weight: 100;
  padding: 0;
  margin: 2px 0 10px;
}

h2{
  color: #888;
  font-size: 18px;
  font-weight: 500;
  padding: 0;
  margin: 0px 0 5px;
}

p{
  color: #888;
  font-size: 15px;
  margin: 0px 0 5px;
}

button{
  border: 0px none;
  cursor: pointer;
  padding: 12px 25px;
  color: #f1f1f1;
  text-transform: capitalize;
  font-size: 14px;
  transition: all 0.5s ease 0s;
  background-color: #f05523;
  text-align: left;
}

button > i {
  margin-right: 5px;
  min-width: 16px;
}

.sidebar button {
  width: 100%;
  margin: 4px 0;
  font-size: 14px;
  padding: 12px 15px;
}

.simulation .sidebar button.simulate {
  animation: pulsate 3s infinite;
}

@keyframes travel {
  0% { transform: translate(0,0); opacity: 1; }
  30% { opacity: 1; }
  33% { transform: translate(80px,0); opacity: 0; }
  66% { transform: translate(-80px,0); opacity: 0; }
  70% { opacity: 1; }
  100% { transform: translate(0,0); opacity: 1; }
}

@keyframes travel2 {
  0% { transform: rotateX(0deg); }
  30% { opacity: 1; }
  50% { transform: rotateX(360deg); opacity: 0; }
  70% { opacity: 1; }
  100% { transform: rotateX(0deg); opacity: 1; }
}

@keyframes pulsate {
  0% { opacity: 1;}
  50% { background-color: #f70; opacity: 0.5; }
  100% { opacity: 1; }
}

.simulation .sidebar button.simulate i{
  animation: travel2 2s infinite ease-in-out;
}

.fullwidth .button_line button{
  font-size: 14px;
}

button:hover{
  color: #fff;
  background-color: #ff4000;
}

input, select, textarea{
  border: 1px solid #bbb;
  background-color: #fff;
  color: #666;
  padding: 3px 4px;
  transition: all 0.3s ease 0s;
  box-sizing: border-box;
}

.desc{
  font-size: 11px;
  opacity: 0;
  height: 0;
  padding: 0;
  color: #89a;
  text-align: right;
  transition: all 0.3s ease 0s;
  position: absolute;
  right: 0px;
  top: 105%;
}

select:focus + .desc ,
textarea:focus + .desc ,
input:focus + .desc {
  opacity: 1;
  height: auto;
}

input[type="number"]{
  width: 40px;
}

input:focus, select:focus, textarea:focus{
  border: 1px solid #aaa;
  background-color: #fff;
  color: #333;
}

select option{
  background-color: #eee;
}

table{
  /* border: 1px solid rgba(255,255,255,0.1); */
  color: #aaa;
  font-weight: normal;
  border-collapse: collapse;
  text-align: left;
  font-size: 15px;
  width: 100%;
  margin-bottom: 10px;
}

table tr{
}

table th{
  background-color: rgba(255,255,255,0.1);
  font-weight: normal;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  padding: 6px 6px;
}

table td{
  border-bottom: 1px solid rgba(255,255,255,0.1);
  padding: 6px 6px;
}

table td input{
  margin: 0;
}

.tab_box.sensor{
  border-width: 1px;
  border-style: solid;
  border-color: #d4a899;
  background-color: #ebebeb;
  padding: 10px 10px;
  color: #666;
  font-size: 14px;
  width: 312px;
  margin: 3px;
  transition: all 0.3s ease 0s;
  min-height: 400px;
  overflow: hidden;
  box-sizing: border-box;
  float: left;
}

.tab_box.sensor .box_header{
  background-color: #d1d5d8;
}

.sensor input,
.sensor select,
.sensor .input_wrapper .input_toggle{
  margin: 0;
}

.sensor form {
  min-height: 176px;
}

.tab_box.sensor:hover{
}

h3, .sensor h3{
  color: #8e4c37;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0 0 5px;
  font-size: 18px;
  word-spacing: 2px;
  transition: all 0.3s ease 0s;
}

.sensor.on h3{
  color: #f05523;
}

/*
.sensor.temperature h3{
  color: #e2501f;
}

.sensor.temperature.on h3{
  color: #f05523;
}
*/

.sensor.temperature .box_header i:before {
  content: "\f2c7";
}

/*
.sensor.relay h3{
  color: #78907b;
}

.sensor.relay.on h3{
  color: #40a74d;
}
*/

.sensor.relay .box_header i:before {
  content: "\f2db";
}

/*
.sensor.humidity h3{
  color: #607f8e;
}

.sensor.humidity.on h3{
  color: #1592d0;
}
*/

.sensor.humidity .box_header i:before {
  content: "\f043";
}

.box_header{
  margin: 0px -4px 15px;
  line-height: 1;
  position: relative;
  padding: 6px 6px 1px;
  /* background: linear-gradient(to bottom, rgb(218, 220, 220) 0%, rgb(203, 207, 208) 60%, rgb(204, 204, 204) 100%); */
}

.sensor .box_header {
  margin: 0px -4px 0px;
}

.sensor .box_header:before, .box_header:before {
}

.sensor .box_header i {
  margin-right: 5px;
}

.sensor .graph {
  height: 120px;
  overflow: hidden;
  width: 100%;
  background-color: #ded9d3;
  display: block;
  position: relative;
  margin: 3px auto;
  box-sizing: content-box;
  /* box-shadow: inset 2px 2px 0px rgba(0,0,0,0.15), inset -2px -2px 0px rgba(255,255,255,0.53); */
  border: 2px solid #c5b19c;
}

/* scanline */
.sensor .graph:before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  background: linear-gradient(90deg, rgba(255,255,255,0.1) 1px, rgba(0,0,0,0.1) 1px);
  background-size: 2px 100%;
}

.sensor .graph .graph_panel {
  height: 95px;
  overflow: hidden;
  width: calc(100% - 30px);
  display: flex;
  align-items: flex-end;
  position: relative;
  margin: 5px 0 20px 20px;
  box-sizing: content-box;
}

.sensor .graph .axis{
  position: absolute;
  border-style: dotted;
  border-color: #676767;
  display: flex;
}

.sensor .graph .axis b{
  font-size: 8px;
  flex: 1 1 auto;
  padding: 4px 1px;
  display:flex;
  justify-content: flex-end;
  vertical-align: bottom;
  flex-direction: column;
}

.sensor .graph .axis.x_vals{
  border-width: 1px 0 0 0;
  height: 20px;
  bottom: 0;
  width: calc(100% - 24px);
  right: 6px;
  flex-direction: row;
}

.sensor .graph .axis.y_vals{
  border-width: 0 1px 0 0;
  left: 0;
  width: 20px;
  height: calc(100% - 21px);
  top: 3px;
  flex-direction: column;
}

.sensor .graph .axis.y_vals b{
  text-align: right;
  padding: 0px 5px;
  margin: 0 0 -2px;
}

.sensor.relay .graph .axis.y_vals {
  border-width: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 21px);
  top: 3px;
  flex-direction: column;
} 

.sensor.relay .graph .axis.y_vals b {
  text-align: left;
}

.sensor.relay .graph .axis.y_vals b:after {
  position: absolute;
  border-top: 1px dotted #987373;
  width: calc(100% - 25px);
  content: "";
  display: block;
  margin: -5px 0 0 13px;
}

.sensor_value{
  width: 25px;
  opacity: 0.7;
  background-color: rgba(240, 85, 35, 0.96);
  border: 0px solid rgba(125, 51, 51, 0.6);
  box-sizing: border-box;
  z-index: 10;
  margin-right: 1px;
}

/*** OVERVIEW ***/

.overview {
}

.overview .port {
  border: 1px solid #f05523;
  background-color: #fff; 
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
  float: left;
}

.overview.list .port {
  border: 0;
  background-color: transparent; 
  margin: 10px 10px 20px;
  float: none;
  max-width: 630px;
}

.overview .port .port_heading {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
}

.overview.list .port .port_heading {
  border-bottom: 1px solid #ddd;
  padding: 5px 0;
}

.overview .port .port_heading h3 {
  color: #f05523;
  text-transform: capitalize;
  margin: 0;
}

.overview .port .port_data {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
}

.overview.list .port .port_data {
  padding: 0;
}

.overview.list .port .port_data {
  flex-flow: column;
}

.overview .port .port_data .sensor{
  min-width: 175px;
  position: relative;
  margin: 10px;
  height: 140px;
  display: flex;
  flex-direction: column-reverse;
  flex: 1 1 175px;
}

.overview.list .port .port_data .sensor{
  width: 100%;
  height: auto;
  flex-direction: row;
  margin: 5px 0 0;
  border-bottom: 1px solid #ddd;
  align-items: stretch;
  padding: 0 0 5px;
  flex: 0;
}

.overview.list .port .port_data .sensor:last-child{
  border-bottom: 0;
}

.overview .port .sensor .name {
  text-align: center;
  padding: 15px 0 0;  
  color: #f05523;
}

.overview.list .port .sensor .name {
  display: flex;
  text-transform: capitalize;
  font-size: 15px;
  align-items: center;
  text-align: left;
  margin: 0 5px 0 0;
  padding: 0;
  flex: 1;
}

.overview .port .sensor .name i{
  margin-right: 3px;
  min-width: 13px;
  display: none;
}

.overview.list .port .sensor .name i{
  color: #666;
  font-size: 22px;
  padding: 0;
  min-width: 30px;
  margin: 0 5px 0 0;
  text-align: center;
  display: inline-block;
}

.overview .port .sensor .value_graph {
  width: 100%;
}

.overview.list .port .sensor .value_graph {
  display: flex;
  flex: 1;
}

.overview .port .sensor .value_unit {
  align-self: flex-start;
  text-align: right;
  width: 100%;
  word-spacing: -3px;
  color: #666;
}

.overview.list .port .sensor .value_unit {
  flex: 1;
  text-align: left;
  word-spacing: 0;
  align-self: center;
  margin-right: 5px;
}

.overview .port .sensor .value_unit .caption {
  display: none;
}

.overview.list .port .sensor .value_unit .caption {
  font-size: 12px;
  color: #aaa;
  display: inline;
  word-spacing: initial;
  margin-right: 7px;
}

.overview .port .sensor .value_unit .vu_wrapper {
  white-space: nowrap;
}

.overview .port .sensor .value_unit .value {
  font-size: 48px;
  font-weight: 700;
}

.overview.list .port .sensor .value_unit .value {
  font-size: 20px;
  font-weight: 700;
}

.overview .port .sensor .value_unit .unit {
  font-size: 18px;
}

.overview .port .sensor .value_unit i {
  font-size: 20px;
}

.overview.list .port .sensor .value_unit i {
  display: none;
}

.overview .port .sensor .graph {
  height: 65px;
  overflow: visible;
  width: 175px;
  background-color: transparent;
  display: block;
  position: relative;
  margin: 3px auto;
  box-sizing: content-box;
  border: 0px solid #c5b19c;
  align-self: center;
}

.overview.list .port .sensor .graph {
  height: 30px;
  width: 80px;
  align-self: center;
}

.overview .port .sensor .graph:before {
}

.overview .sensor .graph .graph_panel {
  height: 100%;
  margin: 0;
  width: 100%;
}

.overview .sensor .graph .graph_panel .sensor_value {
  margin: 0;
}

.overview .port .sensor .graph .axis{
  border: 0;
}

.overview .port .sensor .graph .axis.y_vals{
  width: 8px;
  bottom: 0;
  height: 105%;
  left: -7px;
}

.overview.list .port .sensor .graph .axis{
  display: none;
}

.overview .port .sensor .box_content {
  background-color: transparent;
  flex: 0;
}

/*
.humidity .sensor_value{
  background-color: rgba(85, 160, 221, 0);
  border: 0 none;
  border-top: 2px solid rgba(85, 160, 221, 0.8);
}

.relay .sensor_value{
  background-color: rgba(85, 221, 132, 0);
  border: 1px solid rgba(26, 134, 26, 0);
  position: relative;
  box-sizing: content-box;
}

.relay .sensor_value:before{
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 3px;
  height: 3px;
  background-color: rgba(85, 221, 132, 0.6);
  border: 1px solid rgba(26, 134, 26, 0.6);
  border-radius: 56%;
  box-sizing: border-box;
}
*/

.sensor .box_tab_line{
  display: flex;
  margin: 0px -4px 15px;
  flex-direction: row;
  padding: 1px 4px 0;
  background-color: #d1d5d8;
}

.sensor .box_tab_line .box_tab{
  padding: 3px 5px;
  cursor: pointer;
  flex: 1;
  color: #888;
  text-align: center;
  background-color: #d1d5d8;
  transition: all 0.3s ease 0s;
}

.sensor .box_tab_line .box_tab:hover{
  color: #bd7300;
}

.sensor .box_tab_line .box_tab.active{
  color: #444;
  background-color: #e8e8e8;
}

.sensor .sensor_column_wrapper{
  display: none;
}

.sensor .sensor_column_wrapper.active{
  display: block;
}

.input_wrapper{
  margin: 6px 0 15px;
  display: flex;
  align-content: stretch;
  align-items: center;
  min-height: 24px;
  box-sizing: content-box;
  flex-wrap: wrap;
  position: relative;
}

.input_wrapper.clear{
  margin: 0;
  display: table-cell;
  min-height: 0;
}

.input_wrapper_group{
  display: flex;
  flex-wrap: wrap;
}

.input_wrapper {
  flex: 1 0 100%;
}

.input_wrapper.input_wrapper_50 {
  flex: 1 0 50%;
}

.input_wrapper.input_wrapper_50 :first-child{

}

.sensor .input_wrapper {
  margin: 6px 0;
}

.input_wrapper label{
  display: inline-block;
  flex: 0 0 105px;
  margin: 0 5px 0 0;
}

.input_wrapper input,
.input_wrapper textarea,
.input_wrapper select{
  flex: 3 1 150px;
  max-width: 223px;
}

.sensor .input_wrapper input,
.sensor .input_wrapper textarea,
.sensor .input_wrapper select{
  flex: 3 1 auto;
  max-width: 210px;
}

.input_wrapper .input_toggle{
  /* margin: 0 0 0 4px; */
}

.input_wrapper .input_toggle.on{
  border: 1px solid #f70;
}

.input_wrapper input[type="number"]{
  flex: 0 1 auto;
  width: 65px;
  text-align: right;
  padding-right: 2px;
}

.filter_on .sensor.on,
.filter_off .tab_box:not(.on){
  opacity: 1;
  visibility: visible;
}

.filter_on .sensor:not(.on),
.filter_off .sensor.on{
  opacity: 0;
  width: 0;
  margin: 0;
  padding: 0;
  border: 0 none;
  height: 0;
  transform: scaleY(0);
  visibility: hidden;
  display: none;
}

.sensor .hysteresis_wrapper {
  min-height: 179px;
}

.sensor .hysteresis_wrapper .hyst_header {
  border-bottom: 1px solid #d8d8d8;
  padding: 0 0 3px 0;
  display: flex;
  text-align: center;
  margin: 0 0px 3px;
}

.sensor .hysteresis_wrapper .hyst_header label {
  flex: 2 0 0;
  padding: 0 2px;
  white-space: nowrap;
  text-align: center;
}

.sensor .hysteresis_wrapper .hyst_header label.act {
  flex: 1 1 0;
  padding: 0 2px;
}

.sensor .hysteresis_wrapper .hyst_header label.act:hover {
  color: #4f5;
}

.sensor .hysteresis_wrapper .hyst_header label span {
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.sensor .hysteresis_wrapper .hyst_header label span {
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.sensor .hysteresis_wrapper .hyst_segment {
  /* border-bottom: 1px solid rgba(0,0,0,0.1); */
  padding: 0 0 0px 0;
  margin: 0 0 0px 0;
  display: flex;
  align-items: center;
}

.sensor .hysteresis_wrapper .hyst_segment .input_wrapper {
  flex: 2 0 0;
  padding: 0 2px;
}

.sensor .hysteresis_wrapper .hyst_segment .input_wrapper label {
  display: none;
}

.sensor .hysteresis_wrapper .hyst_segment .input_wrapper input {
  text-align: right;
  width: 100%;
}

.sensor .hysteresis_wrapper .hyst_segment .input_wrapper.act {
  text-align: center;
  flex: 1 1 0;
}

.sensor  .hysteresis_wrapper .hyst_segment .input_wrapper.act div.remove:hover {
  color: #ff2f2f;
}

.sensor .hysteresis_wrapper .hyst_segment .input_wrapper.act div.remove {
  cursor: pointer;
  transition: all 0.3s ease 0s;
  display: inline-block;
  flex: inherit;
}


.tab_box .box_content .input_wrapper:after, .input_wrapper:after {
  /*
  content: "";
  clear: both;
  display: block;
  */
}

.input_toggle{
  display: flex;
  /* background-color: rgba(0,0,0,0.1); */
  /* border-radius: 10px; */
  font-size: 9px;
  padding: 3px 0 1px;
  position: relative;
  /* box-shadow: inset 1px 1px 1px rgba(0,0,0,0.85), inset -1px -1px 1px rgba(0, 0, 0, 0.85); */
  margin: 2px 5px 2px 0;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid #aaa;
  height: 17px;
}

.input_toggle span{
  flex: 0 0 auto;
  width: 16px;
  transition: all 0.3s ease 0s;
  text-align: center;
}

.input_toggle span.off_label{
  opacity: 1;
  color: #a9a9a9;
}

.input_toggle span.on_label{
  opacity: 0;
  color: #f70;
  font-family: 'PT Sans Narrow', sans-serif;
}

.input_toggle.on span.off_label{
  opacity: 0;
}

.input_toggle.on span.on_label{
  opacity: 1;
}

.diode{
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 16px;
  height: 16px;
  /* border-radius: 50%; */
  /* background: radial-gradient(circle at top, rgb(214, 163, 163) 0%, rgb(66, 26, 26) 50%, rgb(255, 47, 47) 100%); */
  /* box-shadow: 0px 0px 2px 0px #000, inset 0px 0px 2px #000, inset 0px -3px 1px rgba(20,0,0,0.24), inset 0px 0px 2px rgba(255,255,255,0.35); */
  transition: all 0.3s ease 0s;
  background-color: #666;
}

.diode:before{
  /*
  position: absolute;
  top: 1px;
  display: block;
  content: "";
  box-shadow: inset 1px 2px 2px rgba(255,255,255,0.9), 0px 0px 1px 1px rgba(255,255,255,0.11);
  left: 2px;
  width: 5px;
  height: 3px;
  border-radius: 66%;
  opacity: 0.75;
  transform: rotate(-20deg);
  transition: all 0.3s ease 0s;
  */
}

.input_toggle.on .diode{
  /*
  background: radial-gradient(circle at top, rgb(236, 0, 0) 0%, rgb(255, 0, 5) 50%, rgb(206, 0, 0) 100%);
  box-shadow: 0px 0px 11px 1px #f00, 0px 0px 1px 1px rgba(0,0,0,1), inset 0px -1px 3px rgba(0,0,0,0.62), inset 0px -3px 1px rgba(152, 106, 106, 0.24), inset 1px 4px 4px rgba(255,255,255,0.483);
  */
  background-color: #f70;
  left: 16px;
}

.input_toggle.on .diode:before{
  box-shadow: inset 1px 2px 2px rgba(255,255,255,0.9), 0px 0px 5px 2px rgba(255, 98, 98, 0.911);
  opacity: 0.88;
}

/* ** TOGGLER ** */
.toggler{
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2) rgba(0, 0, 0, 0.63) rgba(0, 0, 0, 0.16) rgba(255, 255, 255, 0.1);
  width: 40px;
  height: 20px;
  background: linear-gradient(to right, rgb(88, 88, 88) 0%,rgb(88, 88, 88) 50%, rgb(111, 111, 111) 52%, rgb(121, 121, 121) 78%, rgb(66, 66, 66) 86%, rgb(33, 33, 33) 100%);
  box-shadow: /*2px 4px 4px 1px rgba(0,0,0,0.4),*/ 0px 0px 1px 2px rgba(0,0,0,0.3624), inset -1px 0 2px rgba(0,0,0,0.14);
  margin: 10px 4px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  position: relative;
}

.toggler.on{
  background: linear-gradient(to left, rgb(88, 88, 88) 0%,rgb(88, 88, 88) 50%,rgb(53, 53, 53) 52%, rgb(49, 49, 49) 76%, rgb(125, 125, 125) 86%, rgb(105, 105, 105) 100%);
}

.toggler:after{
  height: 15px;
  width: 21px;
  /*box-shadow: inset -6px -8px 3px rgba(70,0,0,0.84);*/
  content: "";
  display: block;
  right: -1px;
  position: absolute;
  /* transform: rotate(45deg); */
  top: 23px;
  border-style: solid;
  border-width: 8px 9px 9px 15px;
  box-sizing: border-box;
  border-color: rgba(0,0,0,0.2) transparent transparent;
}

.toggler.on:after{
  right: 18px;
  border-width: 8px 10px 9px 15px;
}


/* ** SCREW ** */

.screw{
  display: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: radial-gradient(circle at top, rgb(123, 123, 123) 0%, rgb(25, 25, 25) 38%, rgb(14, 14, 14) 100%);
  box-shadow: 2px 1px 4px 0px rgba(0,0,0,0.3), 0px 0px 2px 1px rgba(0,0,0,0.12), inset 0px 0px 2px #000, inset 0px -3px 1px rgba(0, 0, 0, 0.24), inset 0px 0px 2px rgba(255,255,255,0.35);
  transition: all 0.3s ease 0s;
  font-size: 8px;
  text-align: center;
}

.screw:before{
  position: absolute;
  top: 1px;
  display: none;
  content: "";
  box-shadow: inset 1px 2px 2px rgba(255,255,255,0.9), 0px 0px 1px 1px rgba(255,255,255,0.11);
  left: 2px;
  width: 5px;
  height: 3px;
  border-radius: 66%;
  opacity: 0.75;
  transform: rotate(-20deg);
  transition: all 0.3s ease 0s;
}

.screw i{
  text-shadow: 0px 0px 1px rgba(255,255,255,0.36);
  color: rgba(0,0,0,0.87);
}

.screw.tl{
  position: absolute;
  top: 3px;
  left: 3px;
}

.screw.tr{
  position: absolute;
  top: 3px;
  right: 3px;
}

.screw.bl{
  position: absolute;
  bottom: 3px;
  left: 3px;
}

.screw.br{
  position: absolute;
  bottom: 3px;
  right: 3px;
}

.ui-datepicker{
  box-shadow: 4px 4px 6px -2px rgba(0,0,0,0.27);
  background-color: #f6f6f6;
  font-family: 'PT Sans Narrow', sans-serif;
  color: #888888;
  font-size: 14px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0,0,0,0.2);
  padding: 10px;
}

.ui-datepicker .ui-datepicker-header, .ui-widget-header {
  font-family: 'PT Sans Narrow', sans-serif;
  color: #777;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0 0 5px;
  font-size: 14px;
  word-spacing: 2px;
  transition: all 0.3s ease 0s;
}

.ui-datepicker .ui-datepicker-buttonpane button {
  border: 0px none;
  cursor: pointer;
  padding: 6px 15px;
  color: #f1f1f1;
  text-transform: uppercase;
  font-size: 11px;
  transition: all 0.5s ease 0s;
  background-color: #2e8996;
}

.ui-datepicker .ui-datepicker-buttonpane button:hover {
  color: rgb(255, 255, 255);
  background-color: #46acbb;
}

.ui-datepicker .ui-datepicker-buttonpane{
  border: 0 none;
}

.ui-datepicker .ui-datepicker-buttonpane:after{

}

.ui-datepicker tbody{
  padding: 2px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: 1px solid #bbbbbb;
  background: rgba(197, 159, 159, 0.2);
  font-weight: normal;
  color: #f1e0e0;
  /* border-radius: 6px; */
  text-align: center;
}

.ui-slider.ui-slider-horizontal .ui-slider-handle{
  transition: all 0.05s ease 0s;
  width: 18px;
  height: 18px;
  background-color: #d1d5d8;
}

.ui-slider.ui-slider-horizontal {
  background-color: rgba(0,0,0,0.34);
  border: 0 none;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.4), inset -1px -1px 1px rgba(255, 255, 255, 0.4);
}

.auth_fields, .ssl_fields, .subset_fields{
  visibility: hidden;
  opacity: 0;
  height: 0px;
  transition: all 0.3s ease 0s;
}

.auth_fields.on, .ssl_fields.on, .subset_fields.on{
  visibility: visible;
  opacity: 1;
  height: auto;
}

.ui-timepicker-div dl dd {
  margin: 0 10px 20px 40%;
}

.io_table {
  display: table;
  width: 100%;
  position: relative;
}

.thead {
  display: table-header-group;
}

.tbody, .tgroup {
  display: table-row-group;
  position: relative;
}

.tfooter {
  display: table-footer-group;
}

.trow {
  display: table-row;
}

.trow:nth-child(even) {
  background-color: rgba(255,255,255,0.85);
}

.trow.caption {
  text-transform: capitalize;
  position: relative;
  height: 45px;
}

.trow.caption:after {
  display: table-cell;
  clear: both;
  content: "";
}

.th {
  display: table-cell;
  padding: 5px;
  vertical-align: middle;
}

.trow:nth-child(even) .th{
}

.trow.caption .th{
  color: #fff;
  position: relative;
}

.trow.entry.on {

}

.trow.entry .th {
  cursor: pointer;
  position: relative;
}

.trow.entry.on .th:after{
  background-color: #7bcd38;
  color: #fff;
  display: inline-block;
  content: "ON";
  margin-left: 15px;
  font-size: 10px;
  position: absolute;
  top: 6px;
  padding: 2px 3px 1px 2px;
  transition: all 0.4s ease 0s;
  font-family: 'PT Sans Narrow', sans-serif;
}

.trow.caption .th.allspan{
  position: absolute;
  width: 100%;
  /* text-align: center; */
  box-sizing: border-box;
  font-size: 15px;
  margin-top: 11px;
}

.thead .th{
  text-align: center;
}

.td {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.td .conn {
  border: 1px solid #bbb;
  border-radius: 3px;
  transition: all 0.3s ease 0s;
  display: inline-block;
  height: 15px;
  width: 15px;
  cursor: pointer;
  margin: 5px 0 0;
  font: normal normal normal 10px/1.2 FontAwesome;
}

.td .conn:hover {
  background-color: #c5ddf3;
}

.td .conn.on {
  background-color: #389bf6;
  border-color: #389bf6;
  color: #fff;
  margin-top: 2px;
}

.td .conn.on:before{
  content: "\f00c";
}

.tgroup.temperature .th.allspan{
  color: #f05523;
}

.tgroup.humidity .th.allspan{
  color: #f05523;
}

.tgroup.relay .th.allspan{
  color: #f05523;
}

.tgroup.pressure .th.allspan{
  color: #f05523;
}

/* *** LOGGER *** */

.log_message {
  font-family: monospace;
  font-size: 11px;
  margin-bottom: 3px;
}

.log_message.error{
  color: #ed143d;
}

.log_message.info{

}

.log_message.warning{
  color: #ed8e14;
}

/* ********************* RESPONSIVE ******************* */

@media all and (max-width:780px){
  .mainmenu{
    margin: 0 10px;
    top: 6px;
  }

  .mainmenu ul li a {
    padding: 10px 12px;
  }

  .mainmenu ul li a i{
    display: block;
    margin: 0 0 5px;
  }

  .mainmenu ul li a span{
    display: block;
    font-size: 10px;
  }
}

@media all and (max-width:600px){
  header {
    padding: 5px 0 5px;
  }

  .main_title {
    font-size: 16px;
    font-family: 'PT Sans Narrow', sans-serif;
    height: auto;
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
  }

  .main_title .logo {
    width: 80%;
    max-width: 310px;
    background-size: contain;
    background-position-x: center;
  }

  .main_title .logo:before {
    padding-top: 18%;
    content: "";
    display: block;
  }

  .main_title span {
    padding: 0 5px;
  }

  .mainmenu {
    max-width: 100%;
    position: relative;
    right: 0;
    top: 0;
    background-color: #fff;
    margin: 0;
  }

  .mainmenu ul li a i {
    font-size: 20px;
    margin: 0;
  }

  .mainmenu ul li a span{
    display: none;
    font-size: 8px;
  }
}

@media all and (max-width:560px){

  .subpages{
    overflow: hidden;
    padding-bottom: 40px;
  }

  .tab_box.sensor{
    flex: 1 1 100%;
    width: auto;
    float: none;
    margin: 15px 3px;
  }

  footer{
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}

@media all and (max-width:500px){

  .tab_content.sensors .page_wrapper {
    flex-direction: column;
    height: auto;
  }

  .subpages {
    flex-direction: column;
    height: auto;
  }

  .sidebar {
    flex: 0 0 auto;
    margin: 5px 0 0;
  }

  .page_wrapper {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .sidebar .submenu {
    padding-bottom: 0;
  }

  .sidebar .button_bar {
    margin: 20px 10px;
  }

  .submenu ul {
    flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .submenu ul li a i {
    padding-right: 0;
    font-size: 20px;
    padding: 8px 0;
    width: 100%;
  }

  .submenu ul li a span {
    font-size: 11px;
    display: block;
  }

  .mainmenu ul li a.selected {
    /* background-color: #c1c8ca; */
  }

  .submenu ul li {
    margin: 4px 5px 0;
    flex: 1 1 auto;
  }

  .submenu ul li a {
    text-align: center;
    padding: 7px 10px;
  }

  .submenu ul li a.selected {
    border-radius: 0;
  }

  .action_toolbar h3 {
    font-size: 16px;
  }

  .action_toolbar {
    height: auto;
  }

  .action_toolbar .action_button {
    margin-bottom: 2px;
  }

  .overview .port {
    float: none;
    margin: 15px 3px;
  }

  .overview .port .port_data {
    flex-flow: column;
  }

  .overview .port .port_data .sensor {
    flex: 1 0 auto;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    height: auto;
  }

  .overview .port .sensor .graph {
    width: 100%;
  }

  .overview .port .port_data .sensor:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }

  .overview.list .port .sensor .name i {
    font-size: 18px;
    min-width: 20px;
  }

  .overview.list .port .sensor .value_unit {
    width: auto;
    text-align: right;
  }

  .overview.list .port .sensor .value_unit .caption {
    display: block;
    margin-right: 0;
    white-space: nowrap;
  }

  .overview.list .port .sensor .value_unit .vu_wrapper {
    display: block;
    white-space: nowrap;
  }

}