/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 31, 2016, 5:13:55 PM
    Author     : Aleksandar
*/
@import "../dark_red.css";

.tab_content:before {
  background-color: #565656;
  border-color: rgba(255,255,255,0.1) rgba(0,0,0,0.1);
}

header {
  background-color: rgb(64, 64, 64);
}

.main_title {
  color: rgba(255, 255, 255, 0.86);
}

section {
  color: #adadad;
}

section.tab_box.sensor {
  color: #adadad;
}

h3, .sensor h3 {
  color: #9a9a9a;
}

p {
  color: #adadad;
}

.sensor.temperature h3 {
  color: #b54949;
}

.submenu ul li a {
  background: linear-gradient(to bottom, rgb(32, 34, 35) 0%, rgb(58, 58, 58) 100%);
}

button, .ui-datepicker .ui-datepicker-buttonpane button {
  background: linear-gradient(to bottom, rgb(119, 119, 119) 0%, rgb(88, 88, 88) 44%, rgb(47, 47, 47) 100%);
  color: rgba(255, 255, 255, 0.56);
}

button:hover, .ui-datepicker .ui-datepicker-buttonpane button:hover {
  color: rgb(234, 234, 234);
  background: linear-gradient(to bottom, rgb(142, 129, 129) 0%, rgb(107, 107, 107) 44%, rgb(132, 132, 132) 100%);
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.9), 1px 2px 9px -3px rgba(212, 192, 192, 0.9), inset 1px 1px 1px rgba(255,255,255,0.3), inset -1px -1px 1px rgba(0,0,0,0.3);
}

input, select, textarea {
  color: rgba(234, 234, 234, 0.56);
}

.input_toggle span.off_label {
  color: #888;
}

.input_toggle span.on_label {
  color: #ccc;
}

.sensor .box_tab_line .box_tab {
  color: #aaa;
}

.sensor .box_tab_line .box_tab:hover {
  color: #bbcbdc;
  text-shadow: -2px 0px 6px rgba(178, 228, 255, 0.19), 0px -2px 6px rgba(157, 213, 245, 0.69), 0px 2px 6px rgba(179, 226, 255, 0.29);
}

.ui-datepicker {
  color: #cacaca;
}

.ui-datepicker .ui-datepicker-header, .ui-widget-header {
  color: #777;
}

.ui-slider.ui-slider-horizontal .ui-slider-handle {
  background: radial-gradient(circle at top, rgb(214, 214, 214) 0%, rgb(53, 53, 53) 50%, rgb(165, 173, 179) 100%);
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: 1px solid #7b7676;
}

.sensor .graph {
  background: #1d1d1d;
}

.mainmenu ul li a.selected {
  color: #f1f1f1;
  background: linear-gradient(to bottom, rgb(33, 37, 39) 0%,rgb(67, 71, 76) 13%,rgb(49, 54, 58) 39%,rgb(17, 19, 21) 100%);
  text-shadow: -2px 0px 6px rgba(255, 255, 255, 0.9), 0px -2px 6px rgba(255, 255, 255, 0.9), 0px 2px 6px rgba(255, 255, 255, 0.9);
}

.mainmenu ul li a:hover {
  color: #e4e4e4;
}

.desc {
  color: #888;
}