/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 31, 2016, 5:13:55 PM
    Author     : Aleksandar
*/
@import "../dark_red.css";

.tab_content:before {
  background-color: #5293b7;
  border-color: rgba(255,255,255,0.1) rgba(0,0,0,0.1);
}

header {
  background-color: rgb(37, 94, 123);
}

.main_title {
  color: rgba(255, 255, 255, 0.86);
}

section {
  color: #a5bdc5;
}

section.tab_box.sensor {
  color: #a5c5c5;
}

h3, .sensor h3 {
  color: #499bb5;
}

p {
  color: #aab5bb;
}

.sensor.temperature h3 {
  color: #b54949;
}

.submenu ul li a {
  background: linear-gradient(to bottom, rgb(32, 34, 35) 0%, rgb(58, 58, 58) 100%);
}

button, .ui-datepicker .ui-datepicker-buttonpane button {
  background: linear-gradient(to bottom, rgb(46, 109, 125) 0%, rgb(45, 78, 101) 44%, rgb(29, 49, 64) 100%);
  color: rgba(168, 235, 251, 0.56);
}

button:hover, .ui-datepicker .ui-datepicker-buttonpane button:hover {
  color: rgb(168, 231, 251);
  background: linear-gradient(to bottom, rgb(46, 98, 125) 0%, rgb(45, 75, 101) 44%, rgb(29, 107, 164) 100%);
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.9), 1px 2px 9px -3px rgba(0, 184, 255, 0.9), inset 1px 1px 1px rgba(255,255,255,0.3), inset -1px -1px 1px rgba(0,0,0,0.3);
}

input, select, textarea {
  color: rgba(168, 212, 251, 0.56);
}

.input_toggle span.off_label {
  color: #7c99c5;
}
.input_toggle span.on_label {
  color: #a6b9e4;
}

.sensor .box_tab_line .box_tab {
  color: #7ca2a9;
}

.sensor .box_tab_line .box_tab:hover {
  color: #bbcbdc;
  text-shadow: -2px 0px 6px rgba(178, 228, 255, 0.19), 0px -2px 6px rgba(157, 213, 245, 0.69), 0px 2px 6px rgba(179, 226, 255, 0.29);
}

.ui-datepicker .ui-datepicker-header, .ui-widget-header {
  color: #4978b5;
}

.ui-slider.ui-slider-horizontal .ui-slider-handle {
  background: radial-gradient(circle at top, rgb(163, 196, 214) 0%, rgb(26, 48, 66) 50%, rgb(47, 163, 255) 100%);
}

.sensor .graph {
  background: #1d1d1d;
}

.mainmenu ul li a.selected {
  color: #f1f1f1;
  background: linear-gradient(to bottom, rgb(33, 37, 39) 0%,rgb(67, 71, 76) 13%,rgb(49, 54, 58) 39%,rgb(17, 19, 21) 100%);
  text-shadow: -2px 0px 6px rgba(255, 255, 255, 0.9), 0px -2px 6px rgba(255, 255, 255, 0.9), 0px 2px 6px rgba(255, 255, 255, 0.9);
}

.mainmenu ul li a:hover {
  color: #e4e4e4;
}

.desc {
  color: #888;
}