/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 31, 2016, 5:13:55 PM
    Author     : Aleksandar
*/
@import "../dark_red.css";

.container {
  background-color: #9e9e9e;
  box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 0.17), 0px 5px 7px -1px rgba(0,0,0,0.5);
  border-color: rgba(255,255,255,0.2) rgba(0,0,0,0.1) rgba(0,0,0,0.6);
  background-image: none;
  background: 
    radial-gradient(#555 15%, transparent 16%) 0 0, 
    radial-gradient(#555 15%, transparent 16%) 4px 4px, 
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px, 
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 4px 5px;
  background-color: #666;
  background-size: 8px 8px;
}

.tab_content {
  background: radial-gradient(ellipse at center, #d0c8b0 0%, #2d1d09 100%);
}

.tab_content:before {
  background-color: #ffffff;
  border-color: rgba(255,255,255,0.1) rgba(0,0,0,0.1);
}

header {
  background-color: rgb(199, 176, 136);
}

header:before {
  opacity: 0.45;
  background: linear-gradient(to bottom, rgb(177, 177, 177) 0%, rgb(206, 206, 206) 4%, rgb(255, 255, 255) 30%, rgb(103, 103, 103) 70%, rgb(58, 58, 58) 100%);
  border-color: rgba(255,255,255,0.1) rgba(195, 85, 95, 0.2) rgba(255,255,255,0.051);
  box-shadow: 0px 2px 2px 1px rgba(0,0,0,.61);
}

.main_title {
  color: rgb(60, 60, 60);
  text-shadow: -1px -1px 1px rgba(0,0,0,1), 1px 1px 1px rgb(255, 255, 255);
}

section {
  color: #222;
}

section.tab_box.sensor {
  color: #222;
}

h3, .sensor h3 {
  color: #bfbfbf;
}

p {
  color: #222;
}

.sensor .box_header, .box_header {
  background-image: none;
  background-image: none;
  background: 
    radial-gradient(#555 15%, transparent 16%) 0 0, 
    radial-gradient(#555 15%, transparent 16%) 4px 4px, 
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px, 
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 4px 5px;
  background-color: #666;
  background-size: 8px 8px;
  box-shadow: inset 1px 1px 3px rgba(255,255,255,0.24), inset -1px -1px 2px rgba(0, 0, 0, 0.28), -1px -1px 2px 1px rgba(0, 0, 0, 0.24), 1px 1px 2px 1px rgba(255, 255, 255, 0.23);
}

.sensor.temperature h3 {
  color: #d48a8a;
}

.sensor.relay h3 {
  color: #6aa771;
}

.sensor.humidity h3 {
  color: #6da0b9;
}

.submenu ul li a {
  background: linear-gradient(to bottom, rgb(134, 134, 134) 0%, rgb(189, 189, 189) 100%);
  color: #666;
  transition: all 0.32s ease 0s;
}

.submenu ul li a:hover {
  color: #f9f9f9;
}

button, .ui-datepicker .ui-datepicker-buttonpane button {
  background: linear-gradient(to bottom, rgb(119, 119, 119) 0%, rgb(88, 88, 88) 44%, rgb(47, 47, 47) 100%);
  color: rgba(255, 255, 255, 0.56);
}

button:hover, .ui-datepicker .ui-datepicker-buttonpane button:hover {
  color: rgb(234, 234, 234);
  background: linear-gradient(to bottom, rgb(142, 129, 129) 0%, rgb(107, 107, 107) 44%, rgb(132, 132, 132) 100%);
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.9), 1px 2px 9px -3px rgba(212, 192, 192, 0.9), inset 1px 1px 1px rgba(255,255,255,0.3), inset -1px -1px 1px rgba(0,0,0,0.3);
}

input, select, textarea {
  color: #555;
}

.input_toggle span.off_label {
  color: #222;
}

.input_toggle span.on_label {
  color: #ccc;
}

.sensor .box_tab_line .box_tab {
  color: #444;
}

.sensor .box_tab_line .box_tab:hover {
  color: #bbcbdc;
  text-shadow: -2px 0px 6px rgba(178, 228, 255, 0.19), 0px -2px 6px rgba(157, 213, 245, 0.69), 0px 2px 6px rgba(179, 226, 255, 0.29);
}

.ui-datepicker {
  color: #cacaca;
}

.ui-datepicker .ui-datepicker-header, .ui-widget-header {
  color: #777;
}

.ui-slider.ui-slider-horizontal .ui-slider-handle {
  background: radial-gradient(circle at top, rgb(214, 214, 214) 0%, rgb(53, 53, 53) 50%, rgb(165, 173, 179) 100%);
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: 1px solid #7b7676;
}

.sensor .graph {
  background-color: #616161;
}

.mainmenu ul {
  border-color: rgba(0, 0, 0, 0.44);
  box-shadow: -2px -2px 3px 0px rgba(0, 0, 0, 0.48), 2px 2px 4px 0px rgba(250, 250, 250, 0.91);
}

.mainmenu ul li {
  border: 1px solid rgba(2, 2, 2, 0.4);
}

.mainmenu ul li a {
  color: #6f6f6f;
  background: linear-gradient(to bottom, rgb(195, 195, 195) 0%,rgb(193, 193, 193) 57%,rgb(204, 204, 204) 79%,rgb(160, 160, 160) 100%);
}

.mainmenu ul li a.selected {
  color: #ffffff;
  background: linear-gradient(to bottom, rgb(90, 90, 90) 0%,rgb(136, 136, 136) 13%,rgb(158, 158, 158) 39%,rgb(173, 173, 173) 100%);
  text-shadow: -2px 0px 6px rgba(255, 255, 255, 0.51), 0px -2px 6px rgba(255, 255, 255, 0.52), 0px 2px 6px rgba(255, 255, 255, 0.33);
}

.mainmenu ul li a:hover {
  color: #f4f4f4;
}

.desc {
  color: #444444;
}

h2 {
  color: #111;
}

.content_wrapper .content section.action_toolbar .action_button {
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.34), inset -3px -3px 3px rgba(0, 0, 0, 0.35), inset 2px 2px 2px rgba(255, 255, 255, 0.46);
  background: linear-gradient(to bottom, rgb(134, 134, 134) 0%, rgb(189, 189, 189) 100%);
  color: #666;
}

.content_wrapper .content section.action_toolbar .action_button:hover {
  color: #eee;
}

.screw {
  background: radial-gradient(circle at top, rgb(123, 123, 123) 0%, rgb(88, 88, 88) 38%, rgb(84, 84, 84) 100%);
  box-shadow: 2px 1px 4px 0px rgba(0,0,0,0.3), 0px 0px 2px 1px rgba(0,0,0,0.12), inset 0px 0px 2px #000, inset 0px -3px 1px rgba(0, 0, 0, 0.24), inset 0px 0px 2px rgba(255,255,255,0.35);
}

.screw i {
  text-shadow: 0px 0px 1px rgba(255,255,255,0.36);
  color: rgba(37, 37, 37, 0.87);
}

select option{
  background-color: #282525;
}

footer .textline {
  color: rgb(113, 113, 113);
}